#breadcrumb-wrapper {
    margin-bottom: 10px;
    .breadcrumb {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0 -10px;
        li {
            padding: 0 10px;
            position: relative;
            a {
                font-family: MinionPro-Bold;
                color: map-get($color, main-3);
                font-size: 14px;
                display: inline-block;
            }
            &:not(:last-child) {
                &:before {
                    content: "";
                    position: absolute;
                    right: -5px;
                    top: 50%;
                    transform: translateY(-25%);
                    width: 7px;
                    height: 10px;
                    background: url(../assets/images/index/next_breadcrum.png) no-repeat;
                }
            }
            &:last-child {
               a {
                    color: map-get($color, main-4);
                    font-family: MinionPro-It;
               }
            }
        }
    }
}