footer { 
	   .col-3 {
		   align-self: flex-end;
	&.footer__logo {
		align-self: center;
		.logo__img {
			display: inline-block;
		}
	}

}
	.footer__wrapper {
		background: #0b1f44;
	}
	.row {
		padding-bottom: 65px;
		padding-top: 65px;
	}
	.contact__item {
		position: relative;
		.item__text {
			display: flex;
			.icon {
				-ms-flex: 0 0 20px;
				flex: 0 0 20px;
				max-width: 20px;
			}
			.link {
				padding-left: 14px;
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
			}
		}
	
	}
	.footer__contact {
		a {
			font-size: 20px;
			color: white;
			font-family: Futura-Light;
		}
		.contact__item {
			&:first-child {
				margin-bottom: 40px;
				position: relative;
			}
			&:last-child {
				padding-top: 15px;
				&::after {
					content: "";
					position: absolute;
					background: map-get($color, x-white);
					opacity: .5;
					top: 0;
					left: 0;
					width: 343px;
					height: .5px;
					@media (max-width: 1439.98px) {
						width: 100%;
					}
				}
			}
		}
	}
	.footer__social {
		padding-left: 90px;
		@media (max-width: 1439.98px) {
			padding: 0 10px;
		}
		p {
			color: white;
			font-family: Futura-Light;
			font-weight: 400;
		}
		.social {
			display: flex;
			// margin: 0 -20px;
			position: relative;
			&:last-child {
				padding-top: 15px;
				&::after {
					content: "";
					position: absolute;
					background: map-get($color, x-white);
					opacity: .5;
					top: 0;
					left: 0;
					width: 200px;
					height: .5px;
					@media (max-width: 1439.98px) {
						width: 100%;
					}
				}
			}
			.item__text {
				@media (max-width: 1719.98px) {
					height: 48px;
				}
			}
			a {
				// padding: 0 20px;
				padding-left: 20px;
				position: relative;
				&:not(:last-child) {
					&::after {
						position: absolute;
						content: "";
						background: map-get($color, x-white);
						height: 90%;
						width: .25px;
						top: 50%;
						transform: translateY(-50%);
						right: 0;
					}
				}
			}
			// @media (max-width: 1024.98px) {
			// 	margin-left: -10px;
			// 	margin-right: -10px;
			// 	a {
			// 		padding: 0 10px;
			// 	}
			// }
		}
		.contact__item {
			margin-bottom: 40px;
			a {
				color: map-get($color, x-white);
			}
			.link {
				display: flex;
				flex-direction: column;
			}
		}
	}
	.copyright {
        height: 42px;
		background: #DCAA1E;
        align-items: center;
        justify-content: flex-end;
        @media (max-width: 575.98px) {
            justify-content: center;
        }
        h2 {
			padding-top: 10px;
            font-family: Futura-Light;
			font-size: 16px;
			color: white;
			text-align: center;
            @media (max-width: 575.98px) {
                font-size: 12px;
            }
        }
    }
	@media (max-width: 768.98px) {
		.col-3 {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			&.footer__sitefb {
				display: flex;
				justify-content: center;
			}
		}
	}
	@media (max-width: 575.98px) {
		.row {
			justify-content: center;
			.col-3 {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}
	}
}
