header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500;
	background: map-get($color, x-ưhite);
	// &[loading] {
	// 	.navBar>.navBar__item>.navBar {
	// 		display: none;
	// 	}
	// }
	// &[loaded] {
	// 	@media (min-width: 1025px) {
	// 		.navbottom__wrapper {
	// 			opacity: 1;
	// 		}
	// 	}
	// }
	// @media (max-width: 1024.98px) {
	// 	padding-top: 5px;
	// 	box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
	// }
}
.header--top {
	background: map-get($color, x-white);

}
.header--bottom {
	background: map-get($color, main-3);
	box-shadow: 0 3px 5px rgba($color: #ffffff, $alpha: .16);
}
.header--top__wrapper {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0;
	.mail,
	.phone {
		padding-right: 30px;
		a {
			font-family: Futura-Light;
			font-size: 1.4rem;
			color: map-get($color, main-3);
		}
	}
	.language {
		display: flex;
		.languages__link {
			font-family: Futura-Heavy;
			font-size: 1.4rem;
			color: map-get($color, main-3);
			
		}
		.languages__item {
			&:first-child {
				padding-right: 10px;
			}
			&:last-child {
				padding-left: 10px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 1px;
					height: 100%;
					background: map-get($color, main-3);
				}
			}
			&.active {
				.languages__link {
					color: map-get($color, main-4);
				}
			}
		}
		
	}
}

.header--bottom__wrapper {
	display: flex;
	padding: 10px 0;
	.header__logo {
		// -ms-flex: 0 0 16.666667%;
		// flex: 0 0 16.666667%;
		// max-width: 16.666667%;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.header__nav {
		// -ms-flex: 0 0 83.333333%;
		// flex: 0 0 83.333333%;
		// max-width: 83.333333%;
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
		align-self: center;
		.navBar {
			display: flex;
			justify-content: flex-end;
			@media (max-width: 1024.98px) {
				position: fixed;
				flex-direction: column;
				right: 0;
				background: map-get($color, main-3);
				height: 100%;
				justify-content: unset;
				padding-top: 30px;
				max-width: 50%;
				width: 100%;
				transform: translateX(100%);
				transition: .5s all ease-in-out;
				.navBar__item {
					padding-left: 30px;
					line-height: 3.5;
					border-bottom: 1px solid map-get($color, x-white);
					border-top: 1px solid map-get($color, x-white);
				}
			}
			@media (max-width: 575.98px) {
				max-width: 100%;
			}
			.navBar__item {
				padding-left: 50px;
				@media (max-width: 1440px) {
					padding-left: 35px;
				}
				.navBar__link {
					font-family: Futura-Heavy;
					color: map-get($color, x-white);
					font-size: 1.8rem;
					transition: .3s all ease-in-out;
					@media (max-width: 1440px) {
						font-size: 1.6rem;
					}
					@media (min-width: 1025px) {
						&:hover {
							transition: .3s all ease-in-out;
							color: map-get($color, main-4);
						}
					}
				}
				&.active {
					a {
						color: map-get($color, main-4);
						transition: .5s all ease-in-out;
					}
				}
			}
			&.active {
				transition: .5s all ease-in-out;
				transform: translateX(0);	
			}
		}
		.navBarHamburger__wrapper {
			position: absolute;
			right: 0;
			top: 25%;
		}
	}
}

.pushy-panel__toggle {
	width: 62px;
	min-width: 62px; // useful if button is in flexbox
	height: 20px;
	line-height: 1;
	vertical-align: middle;
	position: relative;
	margin-left: auto;
	cursor: pointer;

	// @media (min-width: 1025px) {
	// 	&:hover {

	// 		.pushy-panel__line {
	// 			transform: rotate(if-ltr(180deg, -180deg));
	
	// 			&::before,
	// 			&::after {
	// 				width: 50%;
	// 			}
	
	// 			&::before {
	// 				top: 0;
	// 				transform: translateX(if-rtl(-6px, 6px)) translateY(1px) rotate(if-ltr(-45deg, 45deg));
	// 			}
	
	// 			&::after {
	// 				bottom: 0;
	// 				transform: translateX(if-rtl(-6px, 6px)) translateY(-1px) rotate(if-ltr(45deg, -45deg));
	// 			}
	// 		}
	// 	}
	// }
	.pushy-panel__line {
		top: 50%;
		left: 23px;
		right: 24px;
		width: 16px;
		transition: transform 0.3s;
		&,
		&::before,
		&::after {
			display: block;
			position: absolute;
			height: 2px;
			background-color: map-get($color, x-white);
		}

		&::before,
		&::after {
			content:"";
			width: 100%;
		}

		&::before {
			top: -5px;
			transform-origin: if-ltr(top right, top right);
			transition: transform 0.3s, width 0.3s, top 0.3s;
		}

		&::after {
			bottom: -5px;
			transform-origin: if-ltr(bottom right, bottom right);
			transition: transform 0.3s, width 0.3s, bottom 0.3s;
		}
	}
}

