.MainSlider__Banners {
	position: relative;
	user-select: none;

	.swiper-pagination {
		.swiper-pagination-bullet {
			width: 14px;
			height: 14px;
			opacity: 1;
			border-radius: 50%;
			background-color: rgba(#0B1F44, $alpha: .15);
			transition: all .2s ease-in-out;
			margin: 0 15px;
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 6px;
				height: 6px;
				transform: translate(-50% , -50%);
				background: map-get($color, main-3);
				border-radius: 50%;
				opacity: 0;
				transition: all .2s ease-in-out;
			}
			&.swiper-pagination-bullet-active {
				&::after {
					transition: all .2s ease-in-out;
					opacity: 1;
				}
				
			}
		}

		@media (max-width: 575.98px) {
			display: none;
		}
	}
	.banner-welcome-to {
		display: none;
	}
	&.isIndex {
		background: map-get($color, main-3);
		.banner-welcome-to  {
			z-index: 1;
			display: block;
			max-width: 815px;
			position: absolute;
			bottom: 140px;
			left: 80px;
			width: 100%;
			@media (max-width: 1719.98px) {
				// bottom: 35px;
				max-width: 620px;
			}
			@media (max-width: 1439.98px) {
				left: 10px;
			}
			@media (max-width: 1099.98px) {
				position: relative;
				bottom: unset;
				left: unset;
				max-width: 100%;
			}
			.banner-welcome-to__content {
				background: map-get($color, x-white);
				padding-left: 90px;
				padding-right: 70px;
				padding-top: 75px;
				padding-bottom: 40px;
				margin-bottom: 10px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 165.25px;
					height: 90.25px;
					top: 100%;
					right: 0;
					background: url(../assets/images/index/triangle-banner.png) no-repeat;
					@media (max-width: 1919.98px) {
						display: none;
					}
				}
				@media (max-width: 1719.98px) {
					padding:30px;
					margin-bottom: 5px;
				}
				@media (max-width: 1439.98px) {
				}
				@media (max-width: 575.98px) {
					padding: 10px;
					padding-bottom: 15px;
				}
				p {
					color: map-get($color, main-3);
				}
				a {
					color: map-get($color, main-3);
				}
				.content__wrapper {
					max-width: 570px;
					@media (max-width: 1099.98px) {
						max-width: 100%;
					}
				}
				.title {
					margin-bottom: 60px;
					p {
						font-size: 8.5rem;
						font-family: MinionPro-Bold;
						line-height: 1;
					}
					h3 {
						font-family: MinionPro-Bold;
						color: map-get($color, main-4);
						font-size: 3.5rem;
					}
					@media (max-width: 1439.98px) {
						margin-bottom: 20px;
						p {
							font-size: 6.5rem;
						}
						h3 {
							font-size: 2.5rem;
						}
					}
					@media (max-width: 575.98px) {
						p {
							font-size: 5.5rem;
						}
					}
				}
				.sub-title {
					a {
						display: block;
						text-align: right;
					}
					@media (max-width: 1439.98px) {
					}
				}
				.bottom {
					display: flex;
					justify-content: flex-end;
					.btn-remore {
						position: relative;
						// &::after {
						// 	content: "";
						// 	position: absolute;
						// 	bottom: -5px;
						// 	width: calc(100% + 70px);
						// 	height: .5px;
						// 	background: map-get($color, main-3);
						// 	left: 0;
						// }
						button {
							background: map-get($color, main-4);
						}
						span {
							color: map-get($color, x-white);
						}
						svg {
							path {
								stroke: map-get($color, x-white);
							}
						}
					}
				}
			}
			.social__wrapper {
				display: flex;
				margin: 0 -10px;
				a {
					padding: 0 10px;
					position: relative;
					// &:not(:last-child) {
					// 	&::after {
					// 		position: absolute;
					// 		content: "";
					// 		background: map-get($color, x-white);
					// 		height: 90%;
					// 		width: .25px;
					// 		top: 50%;
					// 		transform: translateY(-50%);
					// 		right: 0;
					// 	}
					// }
				}
				svg {
					path {
						fill: map-get($color, x-white);
					}
				}
				@media (max-width: 1099.98px) {
					position: absolute;
					top: 25px;
					right: 20px;
					svg {
						path {
							fill: map-get($color, main-3);
						}
					}
				}
				@media (max-width: 575.98px) {
					top: 15px;
				}
			}
		}
		.pagesBanner__content {
			display: none;
		}

		.main_banner__img {
			height: unset;
			max-width: 1184px;
			margin-left: auto;
			@media (max-width: 1099.98px) {
				max-width: 100%;
				height: 665px;
			}
			@media (max-width: 1024.98px) {
				height: 500px;
			}
		
			@media (max-width: 767.98px) {
				height: 350px;
			}
		}

		@media (max-width: 1024.98px) {
			padding-top: 93px;
		}
		.swiper-slide {
			height: auto;
		}
		.main_banner__link {
			height: 100%;
		}
		.main_banner__img {
			height: 100%;
		}
	}
	&.noBanner {
		.swiper-container {
			display: none;
		}
		.pagesBanner__content {
			position: relative;
			top: unset;
			left: unset;
			.pagesBanner__content__wrapper {
				position: relative;
				bottom: unset;
				left: unset;
			}
		}
	
	}
}

.main_banner__img {
	height: 665px;

	@media (max-width: 1024.98px) {
		height: 500px;
	}

	@media (max-width: 767.98px) {
		height: 350px;
	}
}

.main_banner__link {
	display: block;
}

.pagesBanner__content {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
	margin-top: 20px;
}

.pagesBanner__content__wrapper {
	position: relative;
	width: 100%;
}