section.contact-us(data-section="Map")
	.container
		.container-custom.size-1365px
			.row.list-contact
				.items
					.content-items.phone.col-lg-4
						.img
							img.object-cover(src="./assets/images/contact/phone.png", alt="")
						.desc
							p 
								!= "<a href>(84-236) 3967 585 </a> . <a href>(84-236) 3967 595</a>"
					.content-items.local.col-lg-4
						.img
							img.object-cover(src="./assets/images/contact/local.png", alt="")
						.desc
							a(href="") 299 Tran Dai Nghia St, . Hoa Hai Ward, Ngu Hanh Son Dist,. Da Nang City, Vietnam
					.content-items.mail.col-lg-4
						.img
							img.object-cover(src="./assets/images/contact/mail.png", alt="")
						.desc
							a(href="") info@auv.edu.vn
			iframe(id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3835.754630711491!2d108.2552969149398!3d15.974185088939672!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142108bc85131af%3A0xe0e536208d071afc!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBN4bu5IHThuqFpIFZp4buHdCBOYW0gQVVW!5e0!3m2!1svi!2s!4v1614767955390!5m2!1svi!2s" width="100%" height="100" style="border:0;" allowfullscreen="" loading="lazy")
			.contact-form
					form(action="")
						.form__wrapper.row
							input.g-recaptcha(type="text" hidden data-sitekey="6Le-tdEZAAAAAHiNLcnunnaYNGYWPK7gwZjC1g9y" name="recaptcha")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Your Name*")
							.form.col-sm-6
								input(type="text" name="name" placeholder="Your Email*")
							.form.col-12
								input(type="text" name="name" placeholder="Subject*")
							.form.col-12
								textarea(name="content", cols="30", rows="10" placeholder="Your Message*")
							.btn.btn-submit(data-url="submit")
								button.btn Submit
