.contact-us {
	padding: 95px 0 90px;
	@media (max-width: 1024px) {
		padding: 40px 0 40px;
	}
	.container {
		.container-custom {
			.list-contact {
				margin-bottom: 90px;
				@media (max-width: 1024px) {
					margin-bottom: 20px;
				}
				.items {
					display: flex;
					width: 100%;
					@media (max-width: 767.98px) {
						flex-wrap: wrap;
					}
					.content-items {
						text-align: center;
						@media (max-width: 767.98px) {
							margin-bottom: 20px;
						}
						.desc {
							a {
								font-size: 2rem;
								color: map-get($color, main-2 );
							}
						}
						.img {
							padding-bottom: 20px;
						}
					}
				}
			}
		}
		#map {
			height: 585px;
			width: 100%;
			@media (max-width: 1024.98px) {	
				height: 300px;
				width: 100%;
		}
		}
		.contact-form {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 30px;
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0;
				margin-left: 0;
				margin-right: 0;
			}
			form {
				.form {
					margin-bottom: 20px;
					input,
					textarea {
						border: none;
						background: #F1F1F1;
						padding-left: 20px;
						width: 100%;
						height: 53px;
						font-family:Futura-Light;
						&:hover {
							border: 1px solid map-get($color, main-3);
						}
						&:focus {
							border: 1px solid #0B1F44;
							font-family: Futura-MediumIt;
						}
					}
					textarea {
						height: 144px;
					}
				}
				.btn-submit {
					padding: 0 10px;
					width: 100%;
					button {
						height: 35px;
						width: 100px;
						max-width: 100%;
						background: #0B1F44;
						font-family:  MinionPro-Bold;
						color: white;
						
					}
				}
			}
		}
	}
}