section.rules-of-conduct(fp-bg="./assets/images/student/rop.png" data-section="Rules Of Conduct")
	.container
		.container-custom.size-1365px 
			.tab-container
				.main-title
					p Student Rules of Conduct 
				.content-items
					.list-tab-content-rules.col-8
						.content-rules-conduct
							.content(tab-id="item-1")
								.title-lab
									p POLICY ON VIOLATION OF ACADEMIC HONESTY
								.main-sub
									p INTRODUCTION The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor.  DEFINITIONS The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 

						.content-rules-conduct
							.content(tab-id="item-2")
								.title-lab
									p VIOLATION OF ACADEMIC HONESTY
								.main-sub
									p INTRODUCTION The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor.  DEFINITIONS The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.content-rules-conduct
							.content(tab-id="item-3")
								.title-lab
									p EXAMPLES OF ACADEMIC DISHONESTY
								.main-sub
									p INTRODUCTION The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor.  DEFINITIONS The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.content-rules-conduct
							.content(tab-id="item-4")
								.title-lab
									p SANCTIONS FOR ACADEMIC DISHONESTY
								.main-sub
									p INTRODUCTION The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor.  DEFINITIONS The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.content-rules-conduct
							.content(tab-id="item-5")
								.title-lab
									p TYPICAL PROCEDURE
								.main-sub
									p INTRODUCTION The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor.  DEFINITIONS The purpose of this document is to give students general notice of what constitutes a violation of academic honesty regarding plagiarism, cheating, and/or unauthorized collusion. Students are responsible for complying with this policy. The University reserves the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. the right to take appropriate disciplinary action when a student engages in an act of academic dishonesty. The authority for student discipline is vested in the office of the Chancellor. 
						.btn-remore
							button.btn
								span MORE 
								img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
					.block__main--title.col-4
						.title__tab
							p.title( toggle-for='item-1') POLICY ON VIOLATION OF ACADEMIC HONESTY
						.title__tab
							p.title( toggle-for='item-2') VIOLATION OF ACADEMIC HONESTY
						.title__tab
							p.title( toggle-for='item-3') EXAMPLES OF ACADEMIC DISHONESTY
						.title__tab
							p.title( toggle-for='item-4') SANCTIONS FOR ACADEMIC DISHONESTY
						.title__tab
							p.title( toggle-for='item-5') TYPICAL PROCEDURE
	.d-none
		#rules-popup.popup