section.about-campus(data-section="Campus")
	.about-campus__wrapper 
		.campus-top-content 
			.title
				h2 Campus
			.desc 
				p The American University of Vietnam campus is in a perfect location for students to enjoy the quiet subtleties of Vietnam’s natural landscape all while being only a short walk to the beach or a bus ride into the city center. The campus is well organized to meet all student needs such as an international library, up to date computer lab, SMART board classrooms and facilities such as an outdoor swimming pool. As Da Nang is the fastest growing city in Southeast Asia, AUV will continue to cater to students from all over the country and the globe giving students the resources and skills to thrive in their futures.
		.about-campus-slide
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/about/campus-1.png", alt="")
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/about/campus-2.png", alt="")
					.swiper-slide
						.img
							img.object-cover.fullsize(src="./assets/images/about/campus-3.png", alt="")
		.campus-bottom-content 
			.bottom-title 
				h3 AUV Campus Visits
			.desc 
				p The American University of Vietnam campus is in a perfect location for students to enjoy the quiet subtleties of Vietnam’s natural landscape all while being only a short walk to the beach or a bus ride into the city center. The campus is well organized to meet all student needs such as an international library, up to date computer lab, SMART board classrooms and facilities such as an outdoor swimming pool. As Da Nang is the fastest growing city in Southeast Asia, AUV will continue to cater to students from all over the country and the globe giving students the resources and skills to thrive in their futures.