footer
	.footer__wrapper
		.footer__inner
			.container
				.row
					.col-3.footer__logo
						a.logo__img(href="index.html")
							img.blur-up.lazyload(src="./assets/images/index/logo.png", alt="")
					.col-3.footer__contact
						.contact__item
							.item__text
								.icon 
									img.object-cover.lazyload.blur-up(data-src="./assets/images/index/icon-map.png", alt="")
								.link 
									a(href="") 299 Tran Dai Nghia St,. Hoa Hai Ward, Ngu Hanh Son Dist,. Da Nang City, Vietnam
						.contact__item
							.item__text
								.icon 
									img.object-cover.lazyload.blur-up(data-src="./assets/images/index/icon-mail.png", alt="")
								.link
									a(href="").item__email info@auv.edu.vn
					.col-3.footer__social
						.contact__item
							.item__text
								.icon 
									img.object-cover.lazyload.blur-up(data-src="./assets/images/index/icon-phone.png", alt="")
								.link
									a(href="" data-copy="phone") (84-236) 3967 585
									a(href="") (84-236) 3967 595 
						.social
							p Follow Us:
							.social__wrapper
								a.social__item(href="")
									img.svg(src="./assets/icons/fb.svg", alt="fb")
								//- a.social__item(href="")
								//- 	img.svg(src="./assets/icons/yt.svg", alt="")
								//- a.social__item(href="")
								//- 	img.svg(src="./assets/icons/insta.svg", alt="")
								//- a.social__item(href="")
								//- 	img.svg(src="./assets/icons/in.svg", alt="")
					.col-3.footer__sitefb
						iframe(src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FtheAmericanUniversityinVietnam%2F&tabs=timeline&width=260&height=100&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="260" height="130" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share")
	.copyright
		h2 Copyright © 2020 American University in Vietnam
