// SLIDER INIT WHEN #js-page-verify have class "index-page"
section.MainSlider__Banners
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.main_banner__link
					// image-size: 1920x965 (index)
					// image-size: 665x665px (subpage)
					.main_banner__img.ov-h
						//- img.object-cover.fullsize(src=`${linkBanner}`, alt="BANNER")
						img.object-cover.fullsize(src=`./assets/images/index/banner-new.png`, alt="BANNER")
			.swiper-slide
				.main_banner__link
					// image-size: 1920x965 (index)
					// image-size: 665x665px (subpage)
					.main_banner__img.ov-h
						//- img.object-cover.fullsize(src=`${linkBanner}`, alt="BANNER")
						img.object-cover.fullsize(src=`./assets/images/index/banner-2.jpg`, alt="BANNER")
		.swiper-pagination
	.banner-welcome-to 
		.banner-welcome-to__content
			.content__wrapper
				.title 
					p Welcome To
					h3 The American University in Viet Nam
				.sub-title 
					p The American University in Vietnam (AUV) is a distinctive university providing American higher education to quality-conscious individuals. AUV is ideal for those who demand superb instruction, advanced career skills, a supportive learning environment, and direct placement for graduate studies in the USA.
					br
					br
					a(href="") www.auv.edu.vn
				//- a(href="").btn-remore
				//- 	button.btn
				//- 		span MORE 
				//- 		img.object-cover.svg(src="./assets/images/index/arrow1.svg", alt="")
		//- .social__wrapper
		//- 	a.social__item(href="")
		//- 		img.svg(src="./assets/icons/fb.svg", alt="fb")
		//- 	a.social__item(href="")
		//- 		img.svg(src="./assets/icons/yt.svg", alt="")
		//- 	a.social__item(href="")
		//- 		img.svg(src="./assets/icons/insta.svg", alt="")
		//- 	a.social__item(href="")
		//- 		img.svg(src="./assets/icons/in.svg", alt="")
	.pagesBanner__content
		.container.h-100
			.container-custom.size-1365px.h-100
				.pagesBanner__content__wrapper
					include _breadcrumb