// .news__events--detail {

// }
.detail-content {
	max-width: 950px;
}
.news__events--inner-content {
	.relate-news {
		padding-left: 50px;
		@media (max-width: 1024.98px) {
			padding-left: 10px;
		}
	}
	@media (max-width: 1025px) {
		flex-direction: column;
		& > div {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
.news__evens--detail__wrapper {
	max-width: 1500px;
	margin-left: auto;
}
.news__events--inner-title {
	max-width: 970px;
	margin-bottom: 35px;
	h3.title {
		font-family: MinionPro-Bold;
		font-size: 3rem;
		font-weight: bold;
		color: #002f4b;
		margin-bottom: 15px;
	}
	span {
		font-family:Montserrat-Regular;
		font-size: 16px;
		color: #989898;
	}
}
.detail-content--post {
	padding-bottom: 100px;
	@media (max-width: 1023.98px) {
		padding-bottom: 0px;
	}
	p {
		color: #707070;
	}
	p:first-child {
		padding-top: 30px;
	}
	& > p {
		padding-bottom: 30px;
	}
}
// .img-for-detail-post{
// 	overflow: hidden;
// 	@media (min-width: 769px) {
// 		img:first-child {
// 			float: left;
// 			width: 674px;
// 			padding-right: 24px;
// 			height: 423px;
// 		}
// 		img + img {
// 			display: flex;
// 			flex-wrap: wrap;
// 			flex-direction: column;
// 			width: 337px;
// 			height: 209px;
// 			&:not(:last-child) {
// 				margin-bottom: 15px;
// 			}
// 		}
// 	}
// 	@media (max-width: 1605px) {
// 		img:first-child {
// 			width: 60%;
// 		}
// 		img + img {
// 			width: 40%;
// 		}
// 	}
// 	@media (max-width: 768.98px) {
// 		img {
// 			float: none !important;
// 			width: 100% !important;
// 			&:not(:last-child) {
// 				margin-bottom: 10px;
// 			}
// 		}
// 		display: flex;
// 		flex-wrap: wrap;
// 		flex-direction: column;
		
// 	}
// 	&::after {
// 		content: '';
// 		display: table;
// 		clear: both;
// 	}
// }
.relate-news {
	h3 {
		font-family: MinionPro-Bold;
		color: #D7970C;
		font-size: 40px;
		margin-bottom: 90px;
		@media (max-width: 1440px) {
			font-size: 26px;
			margin-bottom: 110px;
		}
		@media (max-width: 1024px) {
			margin-bottom: 20px;
		}
	}
	.relate-news--inner {
		.relate-news--item {
			display: flex;
			width: 100%;
			height: 100%;
			margin-bottom: 30px;
			.img {
				img {
					max-width: 260px;
					height: 100%;
					width: 100%;
					max-height: 180px;

				}
			}
			.news--date {
				margin-top: 20px;
				color :#989898;
				padding-bottom: 5px;
			}
			p {
				font-family: MinionPro-Bold;
				margin-top: 10px;
				max-width: 100%;
				color: #0B1F44;
				font-size: 22px;
				
			}
			@media (max-width: 1440px) {
				display: block;
				max-width: 350px;
				.img {
					max-width: 100%;
					img {
						max-width: 100%;
					}
				}
				.desc {
					max-width: 100%;
				}
			}
		}

		@media (max-width: 1024.98px) {
			display: flex;
			flex-wrap: wrap;
			& > a {
				-ms-flex: 0 0 33%;
				flex: 0 0 33%;
				max-width: 33%;
			}
			.relate-news--item {
				display: block;
				.img {
					max-width: 100%;
					img {
						max-width: 100%;
					}
				}
				.desc {
					max-width: 100%;
				}
			}
		}
		@media (max-width: 767.98px) {
            & > a {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
		@media (max-width: 525px) {
			& > a {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				.img {
					img {
					max-width: 100% !important;
					}
				}
				.desc {
					position: relative;
					&::after {
						position: absolute;
						content: '';
						height: 1px;
						width: 90%;
						bottom: 0px;
						background: map-get($color, x-black );
					}
				}
			}
		}
	}
}