.about-desc {
	padding-top: 140px;
	padding-bottom: 110px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.about-desc__wrapper {
		position: relative;
		padding-left: 10%;
		@media (max-width: 1024.98px) {
			padding-left: 0;
		}
		&::before {
			content: "";
			pointer-events: none;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 700px;
			height: 320px;
			background: url(../assets/images/about/map.png) no-repeat;
			background-size: 100% 100%;
			z-index: -1;
			@media (max-width: 1024.98px) {
				bottom: 0;
			}
		}
		.title {
			max-width: 950px;
			margin-bottom: 50px;
			position: relative;
			overflow: hidden;
			padding-left: 130px;
			@media (max-width: 1024.98px) {
				margin-bottom: 20px;
			}
			@media (max-width: 767.98px) {
				padding-left: 0;
			}
			h2 {
				font-family: MinionPro-Bold;
				font-size: 5rem;
				overflow: hidden;
				color: map-get($color, main-4);
				display: inline-block;
			
			}
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				background: map-get($color, main-4);
				width: calc(100% - 450px);
				height: 1px;
				@media (max-width: 767.98px) {
					width: calc(100% - 300px);
				}
			}
		}
		.desc {
			max-width: 950px;
			z-index: 1;
			p {
				color: map-get($color, main-3);
				white-space: pre-wrap;
			}
			p:not(:last-child) {
				margin-bottom: 25px;
				@media (max-width: 1024.98px) {
					margin-bottom: 10px;
				}
			}
			
		}
		
	}
}

.about-mission {
	padding-top: 115px;
	padding-bottom: 145px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	position: relative;
	background-position: center;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	&::before {
		z-index: 0;
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: #314058;
		opacity: .8;
		top: 0;
		left: 0;
		pointer-events: none;
	}
	.title {
		margin-bottom: 80px;
		text-align: center;
		h3 {
			font-size: 5rem;
			font-family: MinionPro-Bold;
			color: map-get($color, x-white);
		}
	}
	.about-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-left: -10px;
		margin-right: -10px;
		@media (max-width: 1439.98px) {
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
		}
		.item {
			padding: 0 10px;
			padding-bottom: 10px;
			position: relative;
			height: 100%;
			@media (max-width: 1439.98px) {
				padding-bottom: 0;;
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				&:not(:last-child) {
					margin-bottom: 10px;
				}
			}
			.overlapping-dot {
				position: absolute;
				content: "";
				background-size: cover;
				background-attachment: fixed;
				background-repeat: no-repeat;
				width: 28px;
				height: 28px;
				border-radius: 50%;
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				left: 50%;
				transform: translateX(-50%);
				top: 25px;
				overflow: hidden;
				background-position: center;
				&::before {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: #314058;
					opacity: .8;
				}
			}
			.item__wrapper {
				max-width: 400px;
				padding: 100px 30px 70px 30px;
				background-color:map-get($color, x-white);
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				p {
					position: relative;
					&::after {
						position: absolute;
						content: "";
						width: 20px;
						height: 2px;
						top: -10px;
						left: 0;
						background: map-get($color, main-4);
					}
				}
				@media (max-width: 1024.98px) {
					margin: 0 auto;
				}
				@media (max-width: 575.98px) {
					max-width: 100%;
				}
			}
			&:nth-child(2) {
				
				.item__wrapper {
					background: map-get($color, main-4);
					p {
						color: map-get($color, x-white);
						&::after {
							background: map-get($color, x-white);
						}
					}
				}
				@media (max-width: 1439.98px) {
					order: -1;
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 820px;
					.item__wrapper {
						margin: 0 auto;
						max-width: 100%;
						margin-bottom: 10px;
					}
				}
				@media (max-width: 1024.98px) {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}
}

.about-history {
	padding-bottom: 100px;
	@media (max-width: 1024.98px) {
		padding-bottom: 40px;
	}
}

.about-values {
	padding-top: 85px;
	@media (max-width: 1024.98px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.title {
		text-align: center;
		margin-bottom: 70px;
		h2 {
			font-family: MinionPro-Bold;
			font-size: 5rem;
			color: map-get($color, main-3);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.tab-container__wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: 575.98px) {
			flex-direction: column;
		}
		.content-active {
			-ms-flex: 0 0 675px;
			flex: 0 0 675px;
			max-width: 675px;
			min-height: 470px;
				.desc {
					background: map-get($color, main-3);
					padding: 25px 30px;
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
					p {
						color: map-get($color, x-white);
					}
				}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				min-height: fit-content;
				.desc {
					padding: 10px;
				}
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.content-item {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 65px;
			> p {
				color: map-get($color, main-3);
				font-family: Futura-Bold;
				margin-bottom: 20px;
			}
			ul {
				max-width: 520px;
				list-style: none;
				padding: 0;
				li {
					padding-left: 30px;
					padding-bottom: 13px;
					position: relative;
					margin-bottom: 15px;
					cursor: pointer;
					&::before {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						background: url(../assets/images/about/line.png) no-repeat;
						width: 100%;
						height: 13px;
					}
					&::after {
						content: "";
						position: absolute;
						width: 12px;
						height: 12px;
						border-radius: 50%;
						bottom: 0;
						left: 0;
						background: transparent;
						transition: .5s all ease-in-out;

					}
					p {
						transition: .5s all ease-in-out;
					}
					&.active {
						p {
							color: map-get($color, main-3);
							font-family: Futura-Medium;
							transition: .5s all ease-in-out;
						}
						&::after {
							transition: .5s all ease-in-out;
							background: map-get($color, main-4);
							animation: pulse 1.5s infinite;
						}
					}
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				padding-left: 25px;
			}
			@media (max-width: 575.98px) {
				order: -1;
				padding: 0;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				ul {
					display: flex;
					flex-wrap: wrap;
					li {
						padding-left: 20px;
						padding-right: 20px;
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
						&::before {
							left: 10px;
							width: 90%;
						}
						&::after {
							left: 10px;
						}
					}
				}
			}
		}
	}
	.about-history__wrapper {
		position: relative;
		.bookImage,
		.schoolImage {
			position: absolute;
			top: 50px;
			left: 5%;
			max-width: 570px;
			max-height: 455px;
			width: 100%;
			height: 100%;
			z-index: 0;
		}
		.schoolImage {
			top: unset;
			bottom: 130px;
			left: unset;
			right: 0;
			max-height: 315px;
			max-width: 545px;
			@media (max-width: 1024.98px) {
				bottom: 0;
			}
		}
		.bookImage {
			@media (max-width: 1024.98px) {
				left: 0;
			}
		}
		.title {
			margin-bottom: 200px;
			@media (max-width: 1024.98px) {
				margin-bottom: 40px;
			}
		}
		.chart {
			position: relative;
		}
		.chart__wrapper {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50% , -50%);
				width: 1px;
				height: 100%;
				background: map-get($color, main-3);
			}
			.item{
				position: relative;
				margin-bottom: 70px;
				@media (max-width: 575.98px) {
					margin-bottom: 20px;
				}
				.title-item {
					position: absolute;
					bottom: 105%;
					h3 {
						font-size: 4rem;
						font-family: MinionPro-Bold;
					}
					@media (max-width: 1024.98px) {
						bottom: 100%;
						h3 {
							font-size: 3rem;
						}
					}
					@media (max-width: 575.98px) {
						h3 {
							font-size: 2rem;
						}
					}
				}
				&:first-child {
					margin-bottom: 20px;
				}

				&:first-child {
					&::after {
						content: "";
						position: absolute;
						background: map-get($color, x-white);
						height: calc(50% - 15px);
						width: 5px;
						top: 0;
						left: -2px;
					}
				}
				&:last-child {
					&::after {
						content: "";
						position: absolute;
						background: map-get($color, x-white);
						height: calc(50% - 15px);
						width: 5px;
						bottom: 0;
						left: -2px;
					}
				}
				

				&:nth-child(odd) {
					max-width: 50%;
					margin-left: auto;
					text-align: left;
					padding-left: 60px;
					.title-item {
						left: 60px;
						h3 {
							color: map-get($color, main-3);
						}
					}
					&::before {
						content: "";
						position: absolute;
						width: 70px;
						height: 31px;
						top: 50%;
						left: -15px;
						background: url(../assets/images/about/map-icon-right.png) no-repeat;
						transform: translateY(-50%);
						
					}
					.desc {
						max-width: 553px;
					}
					@media (max-width: 1024.98px) {
						padding-left: 30px;
						.title-item {
							left: 30px;
						}
						&::before {
							width: 40px;
						}
					}
				}
				
				&:nth-child(even) {
					max-width: 50%;
					margin-right: auto;
					text-align: right;
					padding-right: 60px;
					.title-item {
						right: 60px;
						h3 {
							color: map-get($color, main-4);
						}
					}
					&::before {
						content: "";
						position: absolute;
						width: 70px;
						height: 31px;
						top: 50%;
						right: -15px;
						background: url(../assets/images/about/map-icon-left.png) no-repeat;
						transform: translateY(-50%);
						
					}
					.desc {
						margin-left: auto;
						max-width: 525px;
					}
					@media (max-width: 1024.98px) {
						padding-right: 30px;
						.title-item {
							right: 30px;
						}
						&::before {
							width: 40px;
							background-position: right;
						}
					}
				}
				&:nth-last-child(2) {
					.desc {
						margin-left: auto;
						max-width: 440px;
					}
				}
				&:last-child {
					.desc {
						max-width: 536px;
					}
				}
			}
		}
	}
}

.about-academic {
	background: #F1F1F1;
	padding-top: 145px;
	padding-bottom: 155px;
	@media (max-width: 1024.98px) {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.title {
		h2 {
			font-family: MinionPro-Bold;
			font-size: 5rem;
			color: map-get($color, main-4);
		}
		@media (max-width: 1439.98px) {
			text-align: center;
		}
	}
	.desc {
		max-width: 310px;
		width: 100%;
		margin-bottom: 45px;
		@media (max-width: 1439.98px) {
			margin: 0 auto;
		}
	}
	.tab-item {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.item {
			transition: .5s all ease-in-out;
			.item__wrapper {
				padding-top: 30px;
				padding-bottom: 20px;
				text-align: center;
				cursor: pointer;
			}
			.item-desc {
				p {
					font-size: 1.8rem;
					white-space: pre-wrap;
				}
			}
			&:first-child {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 40px;
				.item__wrapper {
					max-width: 310px;
					width: 100%;
					background: map-get($color, x-white);
					display: flex;
					flex-direction: column;
					align-items: center;
					.item-img {
						margin-bottom: 25px;
					}
					.item-desc {
						p {
							color: map-get($color, main-3);
							font-family: Montserrat-Bold;
						}
					}
				}
			}
			&:not(:first-child) {
				max-width: 310px;
				width: 100%;
				
				.item__wrapper {
					background: map-get($color, x-white);
					display: flex;
					flex-direction: column;
					align-items: center;
					height: 100%;
					.item-img {
						margin-bottom: 25px;
					}
					.item-desc {
						p {
							color: map-get($color, main-3);
							font-family: Montserrat-Bold;
						}
					}
				}
			}
			@media (min-width: 1025px) {
				&:hover {
					transition: .5s all ease-in-out;
					.item__wrapper {
						transition: .5s all ease-in-out;
						box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
					}
				}
			}
			&.active {
				transition: .5s all ease-in-out;
				.item__wrapper {
					transition: .5s all ease-in-out;
					border:1px solid #11233F;
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				}
			}
		}
		@media (max-width: 1439.98px) {
			justify-content: center;
			.item {
				-ms-flex: 0 0 33.333333% !important;
				flex: 0 0 33.333333% !important;
				max-width: 33.333333% !important;
				margin-bottom: unset !important;
				padding: 10px;
				.item__wrapper {
					width: 100% !important;
					max-width: 100% !important;
				}
			}
		}
		@media (max-width: 575.98px) {
			.item {
				-ms-flex: 0 0 50% !important;
				flex: 0 0 50% !important;
				max-width: 50% !important;
				padding: 5px;
			}
		}
	}
	.about-academic__wrapper {
		position: relative;
	}
	.conten-active {
		position: absolute;
		max-width: 950px;
		width: 100%;
		max-height: 390px;
		height: 100%;
		top: 10px;
		right: 0;
		.tab-content {
			height: 100%;
		}
		.content {
			height: 100%;
			.item {
				display: flex;
				max-height: 400px;
				height: 100%;
				@media (max-width: 767.98px) {
					flex-wrap: wrap;
					flex-direction: column;
				}
				.item-img {
					-ms-flex-preferred-size: 0;
					flex-basis: 0;
					-ms-flex-positive: 1;
					flex-grow: 1;
					max-width: 100%;
					@media (max-width: 767.98px) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
						overflow: hidden;
					}
				}
				.item-desc {
					-ms-flex: 0 0 352px;
					flex: 0 0 352px;
					max-width: 352px;
					background: map-get($color, main-3);
					padding: 55px 20px 10px 20px;
					overflow-y: auto;
					p {
						color: map-get($color, x-white);
						position: relative;
						&::after {
							content: "";
							position: absolute;
							top: -10px;
							left: 0;
							height: 3px;
							width: 18px;
							background: map-get($color, main-4);
							border-radius: 2px;
						}
					}
					@media (max-width: 767.98px) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
						padding: 20px;
						max-height: 250px;
					}
				}
				@media (max-width: 767.98px) {
					max-height: unset;
				}
			}
		}
		@media (max-width: 1439.98px) {
			position: relative;
			top: unset;
			right: unset;
			max-width: 100%;
			overflow: hidden;
			max-height: unset;
		}
	}
}

.about-advisory {
	padding-top: 130px;
	padding-bottom: 200px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.title {
		text-align: center;
		margin-bottom: 110px;
		h2 {
			font-family: Minion-Bold;
			font-size: 5rem;
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.about-advisory__wrapper {
		position: relative;
		@media (max-width: 575.98px) {
			padding-bottom: 40px;
		}
	}
	.swiper-container {
		margin: 0 10%;
		@media (max-width: 575.98px) {
			margin: 0;
		}
	}
	.swiper-slide {
		text-align: center;
		.img {
			margin-bottom: 40px;
			border-radius: 50%;
			position: relative;
			overflow: hidden;
			max-height: 315px;
			height: 100%;
			max-width: 315px;
			margin: 0 auto;
			img {
				transform: scale(.7);
				transition: .5s all ease-in-out;
				border-radius: 50%;
				overflow: hidden;
			}
		}
		.desc {
			max-width: 275px;
			margin: 0 auto;
			h5 {
				font-size: 3rem;
				font-family: MinionPro-Bold;
				position: relative;
				margin-bottom: 10px;
				&::after {
					content: "";	
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					background: map-get($color, main-5);
					width: 55px;
					height: 2px;
				}
			}
			p {
				font-size: 2rem;
				&:last-child {
					font-size: 1.6rem;
					font-family: Futura-LightIt;
				}
			}
		}
	}
	.swiper__wrapper {
		position: relative;
	}
	.swiper-slide-active {
		.img {
			img {
				transform: scale(1);
				transition: .5s all ease-in-out;
				border: 5px solid map-get($color, main-3);
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
			}
		}
		.desc {
			h5 {
				color: map-get($color, main-3);
				&::after {
					background: map-get($color, main-4);
				}
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: 40%;
		transform: translateY(-50%);
		@media (max-width: 575.98px) {
			bottom: -40px;
			top: unset;
		}
	}
}

.about-faculty {
	background: map-get($color, main-3);
	padding-top: 40px;
	padding-bottom: 135px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.title {
		text-align: center;
		margin-bottom: 30px;
		h2 {
			font-family: MinionPro-Bold;
			color: map-get($color, main-4);
			font-size: 5rem;
		}
	}
	.about-faculty-slide {
		position: relative;
		@media (max-width: 575.98px) {
			padding-bottom: 40px;
		}
	}
	.swiper-container {
		margin: 0 10%;
		@media (max-width: 575.98px) {
			margin: 0;
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		@media (max-width: 575.98px) {
			bottom: 0;
			top: unset;
		}
	}
	.wrapper {
		display: flex;
		flex-wrap: wrap;
		.desc {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			background: map-get($color, x-white);
			.name {
				padding-bottom: 10px;
				margin-bottom: 10px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0;
					width: 55px;
					height: 2px;
					background: map-get($color, main-4);
				}
				h5 {
					font-size: 3rem;
					font-family: MinionPro-Bold;
					color: map-get($color, main-3);
				}
				
			}
			.about-item {
				display: none;
			}
			.job-position {
				margin-bottom: 15px;
				p {
					font-size: 2.2rem;
				}
			}
			.place {
				margin-bottom: 40px;
				max-width: 262px;
				p {
					font-family: Futura-LightIt;
				}
			}
			.btn-remore {
				margin: unset;
			}
			.desc__wrapper {
				display: flex;
				height: 100%;
				flex-direction: column;
				justify-content: center;
				padding-left: 45px;
				padding-right: 50px;
				@media (max-width: 767.98px) {
					padding: 0 10px;
				}
				@media (max-width: 575.98px) {
					padding: 10px;
				}
			}
		}
		.img {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
		}
	}
}

.about-campus {
	margin-top: 70px;
	position: relative;
	@media (max-width: 1024.98px) {
		margin-top: 40px;
	}
	&::before {
		content: "";
		background: #F1F1F1;
		max-width: 1365px;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
	}
	.title {
		text-align: center;
		margin-bottom: 60px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
		h2 {
			font-family: MinionPro-Bold;
			color: map-get($color, main-4);
			font-size: 5rem;
		}
	}
	.swiper-slide {
		.img {
			position: relative;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: map-get($color, main-5);
				mix-blend-mode: multiply;
				transition: .5s all ease-in-out;
			}
		}
	}
	.swiper-slide-active {
		.img {
			&::before {
				background: transparent;
				transition: .5s all ease-in-out;
			}
		}
	}
	.about-campus__wrapper  {
		position: relative;
		padding: 60px 0;
		@media (max-width: 767.98px) {
			padding: 30px 0;
		}
	}
	.about-campus-slide {
		margin-bottom: 50px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
}
.campus-top-content,
.campus-bottom-content {
	max-width: 744px;
	margin: 0 auto;
	&.campus-top-content {
		margin-bottom: 50px;
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	p {
		color: map-get($color, main-3);
	}
	.title {
		margin-bottom: 30px;
	}
	.bottom-title {
		text-align: center;
		h3 {
			font-size: 3rem;
			font-family: MinionPro-Bold;
		}
		margin-bottom: 20px;
	}
}

#popup-faculty {
	max-width: 1088px;
	background: map-get($color, x-white);
	padding: 90px 135px 120px 135px;
	@media (max-width: 1024.98px) {
		padding: 50px;
	}
	@media (max-width: 575.98px) {
		padding: 10px;
	}
	.name {
		padding-bottom: 10px;
		margin-bottom: 10px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 55px;
			height: 2px;
			background: map-get($color, main-4);
		}
		h5 {
			font-size: 3rem;
			font-family: MinionPro-Bold;
			color: map-get($color, main-3);
		}
		
	}
	.about-item {
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
			}
		}
	}
	.job-position {
		margin-bottom: 15px;
		p {
			font-size: 2rem;
		}
	}
	.place {
		display: none;
	}
	.btn-remore {
		display: none;
	}
	.desc__wrapper {
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: center;
	}
}