.admission-requirements {
	padding-top: 145px;
	padding-bottom: 110px;
	.title {
		margin-bottom: 40px;
		h2 {
			color: map-get($color, main-3);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	img {
		margin-bottom: 35px;
		@media (max-width: 1024.98px) {
			margin-bottom: 15px;
		}
	}
	p {
		margin-bottom: 20px;
		@media (max-width: 1024.98px) {
			margin-bottom: 10px;
		}
	}
	.step,
	.info {
		p {
			margin-bottom: 0;
		}
	}
	.step {
		padding-top: 10px;
		position: relative;
		margin-bottom: 20px;
		p {
			span {
				color: map-get($color, main-3);
				font-family: Futura-Medium;
			}
		}
		&::after {
			content: "";
			position: absolute;
			width: 15px;
			height: 3px;
			border-radius: 3px;
			background: map-get($color, main-3);
			top: 0;
			left: 0;
		}
	}
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
}

.admission-finance {
	position: relative;
	padding-top: 60px;
	padding-bottom: 110px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: map-get($color, main-3);
		opacity: .8;
	}
	.title {
		text-align: center;
		margin-bottom: 70px;
		h2 {
			color: map-get($color, x-white);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.desc {
			-ms-flex: 0 0 812px;
			flex: 0 0 812px;
			max-width: 812px;
			background: map-get($color, x-white);
			padding: 70px 0 55px 55px;
			p {
				max-width: 588px;
				position: relative;
				&:first-child {
					&::after {
						content: "";
						position: absolute;
						width: 15px;
						height: 3px;
						border-radius: 3px;
						background: map-get($color, main-4);
						top: -10px;
						left: 0;
					}
				}
			}
		}
		.img {
			-ms-flex: 0 0 582px;
			flex: 0 0 582px;
			max-width: 582px;
			margin-left: -145px;
			max-height: 370px;
			background: map-get($color, x-white);
			padding: 8px;
			height: 100%;
		}
		@media (max-width: 1439.98px) {
			justify-content: center;
			.desc {
				padding: 15px;
				-ms-flex: 0 0 570px;
				flex: 0 0 570px;
				max-width: 570px;
			}
			.img {
				order: -1;
				max-width: 570px;
				margin-left: 0;
			}
		}
		@media (max-width: 767.98px) {
			.desc,
			.img {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

.admission-scholarships {
	padding-top: 70px;
	padding-bottom: 125px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.title {
		margin-bottom: 15px;
		text-align: center;
		h2 {
			color: map-get($color, main-4);
		}
	}
	.sub-title {
		margin-bottom: 110px;
		text-align: center;
		p {
			font-size: 1.8rem;
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.item {
			-ms-flex: 0 0 195px;
			flex: 0 0 195px;
			max-width: 195px;
			text-align: center;
			.img {
				margin-bottom: 35px;
				height: 72px;
				overflow: hidden;
				@media (max-width: 1024.98px) {
					margin-bottom: 0px;
				}
			}
			.percent {
				margin-bottom: 30px;
				@media (max-width: 1024.98px) {
					margin-bottom: 20px;
				}
				p {
					color: map-get($color, main-4);
					font-size: 10rem;
					font-family: MinionPro-Bold;
					// letter-spacing: -3px;
					position: relative;
					width: fit-content;
					margin: 0 auto;
					span {
						font-size: 4rem;
						position: absolute;
						bottom: 25px;
					}
					&::after {
						content: "";
						position: absolute;
						bottom: 0;
						left: 0;
						background: map-get($color, main-4);
						height: 7px;
						width: 134px;
					}
				}
			}
			.award {
				p {
					font-size: 2.5rem;
					text-align: center;
				}
			}
		}
		@media (max-width: 1024.98px) {
			justify-content: center;
			.item:not(:last-child) {
				margin-bottom: 30px;
				padding: 0 10px;
			}
		}
	}
}

.admission-auv-difference {
	position: relative;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	padding-top: 100px;
	padding-bottom: 120px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: map-get($color, main-3);
		opacity: .9;
	}
	.title {
		text-align: center;
		margin-bottom: 15px;
		h2 {
			color: map-get($color, main-4);
		}
	}
	.sub-title {
		text-align: center;
		max-width: 687px;
		margin: 0 auto;
		margin-bottom: 70px;
		p {
			font-size: 2rem;
			color: map-get($color, x-white);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.item {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
			padding: 10px;
			@media (max-width: 1024.98px) {
				padding: 5px;
			}
			.item__wrapper {
				height: 100%;
				background: map-get($color, x-white );
				padding: 30px 15px 50px 15px;
				.img {
					box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
					margin-bottom: 20px;
				}
				.desc {
					@media (max-width: 575.98px) {
						word-break: break-word;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 5;
						margin-bottom: 5px;
					}	
					&.show {
						-webkit-line-clamp: unset;
					}
				}
				.btn-more {
					text-align: center;
					button {
						background: unset;
						span {
							font-size: 1.8rem;
							color: map-get($color, main-3);
							font-family: MinionPro-Bold;
							padding-right: 5px;
						}
					}
				}
				@media (max-width: 1024.98px) {
					padding: 10px;
				}
				@media (max-width: 575.98px) {
					height: auto;
				}
				@media (min-width: 576px) {
					.btn-more {
						display: none;
					}
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}
}

.admission-apply {
	background: map-get($color, main-3);
	padding: 85px 0;
	.title {
		text-align: center;
		margin-bottom: 50px;
		h2 {
			color: map-get($color, main-4);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.content {
		.item {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			&:not(:last-child) {
				margin-bottom: 50px;
			}
			> div {
				-ms-flex: 0 0 50%;
				flex: 0 0 50%;
				max-width: 50%;
				color: map-get($color, x-white);
				padding: 0 10px;
				@media (max-width: 767.98px) {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					&:first-child {
						margin-bottom: 15px;
					}
				}
			}
			&:first-child {
				padding-top: 13px;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					background: map-get($color, x-white);
					top: 3px;
					left: 10px;
					width: 27px;
					height: 3px;
					border-radius: 3px;
				}
				p {
					margin-bottom: 20px;
					font-size: 2rem;
					max-width: 625px;
				}
			}
			&.tab-container {
				.tab-content {
					height: 100%;
					.content {
						height: 100%;
						.img {
							height: 100%;
						}
					}
				}
				.content-item {
					padding-left: 60px;
				}
				h5 {
					font-size: 2rem;
					font-family: Montserrat-Bold;
					max-width: 475px;
					margin-bottom: 30px;
				}
				ul {
					list-style: none;
					padding: 0;
					position: relative;
					&::before {
						content: "";
						position: absolute;
						left: 5px;
						top: 50%;
						transform: translateY(-50%);
						height: 90%;
						width: 1px;
						background: #23457B;
					}
					li {
						padding-left: 30px;
						position: relative;
						margin-bottom: 30px;
						cursor: pointer;
						p {
							font-size: 2rem;
						}
						&::before {
							content: "";
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: 0;
							border-radius: 50%;
							background: #23457B;
							width: 12px;
							height: 12px;
						}
						&::after {
							content: "";
							position: absolute;
							width: 12px;
							height: 12px;
							border-radius: 50%;
							top: 50%;
							transform: translateY(-50%);
							left: 0;
							background: transparent;
						}
						&.active {
							p {
								font-family: Futura-Medium;
							}
							&::after {
								background: map-get($color, main-4);
								animation: pulse 1.5s infinite;
							}
						}
					}
				}
			}
			&:last-child {
				h5 {
					margin-top: 20px;
					font-size: 2rem;
					font-family: Futura-Bold;
					color: map-get($color, main-4);
				}
				p {
					font-size: 2rem;
					span {
						font-family: Futura-Medium;
					}
				}
			}
		}
	}
}

.admission-how-to-apply {
	padding-top: 100px;
	padding-bottom: 140px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.guide-apply {
		padding: 70px 50px;
		display: flex;
		background: #EFEBCF;
		margin-bottom: 45px;
		.img {
			-ms-flex: 0 0 425px;
			flex: 0 0 425px;
			max-width: 425px;
		}
		.desc {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 65px;
			h2 {
				margin-bottom: 40px;
				font-size: 5rem;
				font-family: MinionPro-Bold;
			}
		}
		@media (max-width: 1024.98px) {
			flex-wrap: wrap;
			.desc,
			.img {
				-ms-flex: 0 0 425px;
				flex: 0 0 425px;
				max-width: 425px;
				padding: 0;
				margin: 0 auto;
				h2 {
					margin-bottom: 10px;
				}
			}
		}
		@media (max-width: 575.98px) {
			padding: 20px;
			.desc,
			.img {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				h2 {
					font-size: 3.5rem;
				}
			}
		}
	}
	.apply-form {
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		.apply-tab {
			display: flex;
			flex-wrap: wrap;
		}
		.tab {
			-ms-flex: 0 0 33.333333%;
			flex: 0 0 33.333333%;
			max-width: 33.333333%;
			padding: 0 1.5px;
			.tab__wrapper {
				cursor: pointer;
				padding: 10px 30px;
				background: #F1F1F1;
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				@media (max-width: 767.98px) {
					padding: 10px;
				}
			}
			p {
				color: #989898;
				font-size: 2rem;
				span {
					font-size: 2.5rem;
					font-family: MinionPro-Bold;
				}
				@media (max-width: 1199.98px) {
					font-size: 1.6rem;
				}
				@media (max-width: 1024.98px) {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 1;
				}
				@media (max-width: 767.98px) {
					-webkit-line-clamp: 2;
				}
			}
			&.active {
				.tab__wrapper {
					background: map-get($color, main-3);
				}
			}
		}
		.tab-content {
			padding: 50px 10px;
			input:not([type='checkbox']):not([type='radio']),
			select {
				width: 100%;
				background: #F1F1F1;
				border-radius: 5px;
				margin-bottom: 20px;
				min-height: 40px;
				color: map-get($color, main-5);
				border: none;
				padding-left: 15px;
				transition: .3s all ease-in-out;
				font-size: 1.6rem;
				&:focus {
					background: map-get($color, x-white);
					border: 1px solid map-get($color, main-3);
					transition: .3s all ease-in-out;
				}
			}
			h5 {
				font-size: 2rem;
				color: map-get($color, main-3);
				padding-bottom: 5px;
				border-bottom: .5px solid rgba($color: map-get($color, main-3), $alpha: .2);
				margin-bottom: 50px;
				font-family: Montserrat-Bold;
			}
			p {
				color: map-get($color, main-3);
				margin-bottom: 15px;
				font-family: Futura-Medium;
			}
			[class*="col-"] {
				position: relative;
			}
			.file-type {
				input[type='file'] {
					display: none;
				}
				label {
					height: 125px;
					background: #F1F1F1;
					width: 100%;
					position: relative;
					&::after {
						content: attr(text);
						position: absolute;
						top: 50%;
						left: 50%;
						font-size: 1.6rem;
						color: map-get($color, main-3);
						font-family: MinionPro-Bold;
						transform: translate(-50% ,-50%);
						box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
						min-width: 80px;
						padding: 0 10px;
						width: fit-content;
						height: 34px;
						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
			
			.content {
				>.row {
					> .col-12 {
						&:not(:last-child) {
							margin-bottom: 60px;
							@media (max-width: 1024.98px) {
								margin-bottom: 20px;
							}
						}
						> .row {
							margin: 0 -25px;
							@media (max-width: 1024.98px) {
								margin: 0 10px;
							}
							> div {
								padding: 0 25px;
								@media (max-width: 1024.98px) {
									padding: 0 10px;
								}
							}
						}
					}
				}
				&:last-child {
					.row-check {
						.item {
							align-items: unset;
						}
					}
				}
			}
			
		}
		.row-check {
			padding-left: 40px;
			margin-bottom: 15px;
			.item {
				margin-bottom: 5px;
				display: flex;
				align-items: center;
			}
			input {
				-ms-flex: 0 0 19px;
				flex: 0 0 19px;
				max-width: 19px;
				height: 19px;
				border-radius: 2px;
				overflow: hidden;
				position: relative;
				&::before {
					content: "";
					border-radius: 2px;
					position: absolute;
					width: 100%;
					height: 100%;
					background:#F1F1F1;
					top: 0;
					left: 0;
					border: 1px solid map-get($color, main-3);
				}
			}
			
			label {
				padding-left: 15px;
			}
			input[type='radio'] {
				border-radius: 50%;
				overflow: hidden;
				&::before {
					border-radius: 50%;
				}
				&:checked {
					&::after {
						content: "";
						position: absolute;
						width: 11px;
						height: 11px;
						top: 50%;
						left: 50%;
						transform: translate(-50% , -50%);
						background: map-get($color, main-3);
						z-index: 1;
						border-radius: 50%;
					}
				}
			}
			input[type='checkbox']:checked {
				&::before {
					background: map-get($color, main-3);
				}
			
				&::after {
					content: "";
					position: absolute;
					width: 13px;
					height: 9px;
					top: 55%;
					left: 50%;
					transform: translate(-50% , -50%);
					background: url(../assets/images/admission/check.png) no-repeat;
					background-size: contain;
					z-index: 1;
				}
			}
			p {
				font-family: Futura-Medium;
				color: map-get($color, main-3);
				margin-bottom: 20px;
			}
		}
		.tab-footer {
			background: map-get($color, main-3);
			text-align: center;
			padding: 15px 0;
			.btn-next {
				width: 123px;
				height: 38px;
				background: #F1F1F1;
				border-radius: 5px;
				font-size: 2rem;
				font-family: MinionPro-Bold;
				color: map-get($color, main-3);
			}
		}
	}
	.text-for-step-3 {
		margin-top: 50px;
		visibility: hidden;
		opacity: 0;
		transition: .5s all ease-in-out;
		display: none;
		p {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
		&.active {
			visibility: visible;
			opacity: 1;
			transition: .5s all ease-in-out;
			display: block;
		}
	}
}