#popup-page {
	height: 100%;
	@media (max-width: 575.98px) {
		padding: 10px;
	}
	.index-popup {
		max-width: 585px;
		display: block;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.img {
			margin: 0 auto;
			padding: 10px;
			background: map-get($color, x-white);
			margin-bottom: 15px;
			img {
				max-width: 585px;
				max-height: 740px;
			}
		}
		.desc {
			p {
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				color: map-get($color, x-white);
			}
		}
	}
}
	
//About-AUV
.about-auv {
	.container {
		margin-top: 100px;
		margin-bottom: 100px;
		.auv-about-content {
			width: 100%;
			align-items: center;
			@media (max-width: 1024px) {
				margin: 0px;
			}
			.block-about {
				align-self: flex-end;
				@media (max-width: 1024px) {
					&:first-child {
						padding-bottom: 20px;
					}
					padding: 0px;
				}

				.auv-right {
					max-width: 610px;
					.block-main-title{
						.title {
							margin-bottom: 40px;
							p {
								font-family: MinionPro-Bold;
								font-size: 7rem;
								color:#d7970c;
								font-weight: bold;
							}
							@media (max-width: 1024px) {
								margin-bottom: 10px;
							}
						}

					}

					@media (max-width: 320px) {
						.block-main-title {
							.title{
								p {
									font-size: 6rem;
								}
							}
						}


					}
					.block-list-item {
						margin-bottom: 30px;
						.text {
							white-space: pre-wrap;
							p {
								text-align: justify;
								font-family: Futura-Light;
								color:map-get($color, main-3) ;
								overflow: hidden;
								text-overflow:ellipsis;
								-webkit-line-clamp: 10;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								white-space: pre-wrap;
							}
						}
					}
					.btn-remore {
						span {
							color: map-get($color, main-3);
						}
					}
					@media (max-width: 1024px) {
						max-width: 100%;
						.block-list-item {
							margin-bottom: 10px;
						}
					}
				}
				.auv-left {
					.img {
						position: relative;
						img {
								transition: .5s all ease-in-out;
								box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
						}
						.note {
							p{
								font-family: MinionPro-Bold;
								position: absolute;
								top :23%;
								right: -60px;
								transform: rotate(-90deg);
								color: #d7970c;
								font-size: 16px;
								font-weight: bold;
								&::after {
									content: "";
									position: absolute;
									width: 58px;
									height: 1px;
									bottom: 50%	;
									background-color:#d7970c;
								}
							}
							@media (max-width: 1024px) {
								display: none;
							}
							}
					}

					}
				}
			}
		}
	}
@media (max-width: 768px) {
	.about-auv {
		.container {
			margin-top: 30px;
			margin-bottom: 30px;
			.title { 
				padding-bottom: 10px !important;
			}
		}
	}
}
