// Events&news
.events-news{
	background-color: #F1F1F1;
	padding-bottom: 180px;
	padding-top: 80px;
	@media (max-width: 1024px) {
		padding-bottom: 20px;
		padding-top: 20px;
	}
	.container {
		.container-custom{
			.title-auv-evn {
				margin-bottom: 50px;
				@media (max-width: 1024px) {
					margin-bottom: 10px;
				}
				.block-title {
					p {
						font-size: 6rem;
						font-weight:bold;
						color: #0b1f44;
						text-align: center;
						font-family: MinionPro-Bold;
					}
				}
			}
			.news-events-content {
				.news-events-list{
					.wrapper {
						display: flex;
						flex-wrap: wrap;
						@media (min-width: 1025px) {
							display: grid;
						grid-template-columns: auto auto auto;
						grid-gap: 15px;
						}
							.block-news {
								position: relative;
								&:first-child {
									-ms-flex: 0 0 100%;
									flex: 0 0 100%;
									max-width: 100%;

										@media (min-width: 1025px) {
											grid-row-start: 1;
											grid-row-end: 3;
										}
										
									.news-img{
										overflow: hidden;
										height: 100%;
										img {
											transition: transform .5s ease;
										}
									}
									@media (min-width: 1025px) {
										&:hover {
											.news-img {
												img {
													transform: scale(1.1);
													transition: transform .5s ease;
										}
										&::before {
											z-index: 10;
											transition: 1s all ease-in-out;
									}
								}
									}
								}
									.news-desc {
										width: 100%;
										background-color: #ffffff;
										bottom: 0;
										padding-right: 40px;
										padding-left: 40px;
										padding-bottom: 15px;
										@media (max-width: 1024px) {
											padding-left: 10px;
											padding-right: 10px;
											padding-bottom: 0px;
										}
										.time {
											font-family:Futura-LightIt ;
											font-size: 14px;
											color: #0B1F44;
											padding-top: 10px;
										}
										color: #d7970c;
										p {
											font-family: Montserrat-Bold;
											overflow: hidden;
											text-overflow: clip;
											-webkit-line-clamp: 2;
											display: -webkit-box;
											-webkit-box-orient: vertical;
											font-weight: bold;
											font-size: 20px;
											@media (max-width: 767.98px) {
												font-size: 18px;
											}
										}
											.btn-rmore {
												width: 100%;
												height: 100%;
												text-align: right;
											}
									}
									.news-img {
										transition: .5s all ease-in-out;
										box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
									}
								}
								&:not(:first-child)
								{
									@media (max-width: 1024px) {
										padding: 0 5px;
										-ms-flex: 0 0 50%;
										flex: 0 0 50%;
										max-width: 50%;
										margin-bottom: 10px;
									}
									.news-img {
										
										overflow: hidden;
										img {
											transition: transform .5s ease;
										}
										&::after{
											position: absolute;
											content: '';
											background: url("../assets/images/index/af-hover.png");
											width: 100%;
											height: 100%;
											top:0;
											left: 0;
											background-size: 100% 100%;
										}
									}
									.news-desc {
										width: 85%;
										transform: translateX(-50%);
										left: 50%;
										color: #F1F1F1;
										position: absolute;
										z-index: 10;
										top: 80%;
										@media (max-width: 767.98px) {
											top: 70%;
										}
									}
								@media (min-width:1025px){
										&:hover {
											.news-img {
												img {
												transform: scale(1.1);
												transition: transform .5s ease;
											}
										}
									}
								}
							}
									.news-desc {
									width: 85%;
									transform: translateX(-50%);
									left: 50%;
									color: #F1F1F1;
									position: absolute;
									z-index: 10;
									bottom: 25px;
										p {
											font-weight: bold;
											font-size: 16px;
											font-family: Montserrat-Bold;
											overflow: hidden;
											text-overflow: ellipsis;
											-webkit-line-clamp: 2;
											display: -webkit-box;
											-webkit-box-orient: vertical;
										}
									.btn-rmore {
											background-color: #ffffff;
											border: none;
											font-weight: bold;
											font-size: 18px;
											span {
												font-family: MinionPro-Bold;
												color: map-get($color, main-3 );
											}
											svg {
												vertical-align: initial;
											}
								}
							}
						}
						
					}
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.events-news {
		padding-top: 20px;
		padding-bottom: 10px;
	}
}