// Academics AUV
.academics-auv {
	margin-top: 80px;
	margin-bottom: 100px;
	@media (max-width: 1024px) {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.container {
		.title-auv-aca{
			margin-bottom: 95px;
			@media (max-width: 1024px) {
				margin-bottom: 20px;
			}
			.block-title {
				h2 {
					font-weight: bold;
					text-align: center;
					font-size: 6rem;
					color: map-get($color, main-3);
					font-family: MinionPro-Bold;
				}
			}
			.title-text {
				width: 100%;
				height: 100%;
				max-width: 920px;
				margin: 0 auto;
				text-align: center;
				p{
					color: map-get($color, main-3);
				
				}
			}
	}
		.list-item-auv{
			justify-content: center;
			margin-left: -25px;
			margin-right: -25px;
			@media (max-width: 1199.98px) {
				margin-left: -10px;
				margin-right: -10px;
			}
			.item {
				
				padding: 0 25px;
				@media (max-width: 1199.98px) {
					padding: 0 10px;
				}
				.content-items{
					height: auto;
					padding: 25px;
					.img{
						margin-bottom: 40px;
						text-align: center;
					}
					.content{
						margin-bottom: 25px;
						text-align: center;
						.title {
							margin-bottom: 15px;
							p {
								text-align: center;
								font-size: 2.2rem;
								color: map-get($color, main-3);
								font-family: MinionPro-Bold;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 1;
								@media (max-width: 1439.98px) {
									font-size: 1.8rem;
								}
							}
						}
						.text{
							p{
							color: map-get($color, main-3);
							overflow: hidden;
							text-overflow: ellipsis;
							-webkit-line-clamp: 4;
							display: -webkit-box;
							-webkit-box-orient: vertical;
						}
					}
				
				}
				@media (max-width: 1024.98px) {
					padding: 10px;
					box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .12);
				}
			}
				.btn-more {
					position: relative;
					width: 100%;
					border: none;
					font-size: 1.8rem;
					font-family: MinionPro-Bold;
					background-color: #ffffff;
					color: #0b1f44;
					display: block;
					text-align: center;
					padding-top: 13px;
					&::before{
						content: '';
						position: absolute;
						bottom: 100%;
						left: 50%;
						transform: translateX(-50%);
						width: 122px;
						height: 3px;
						background-color: #d7970c;
					}
					&::after {
						size: 100%;
						font-weight: bold;
					}
					@media (max-width: 1024.98px) {
						opacity: 1;
					}
				}
				@media (min-width: 1025px) {
					&:hover {
						.content-items {
							transition: .5s all ease-in-out;
							box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .12);
						}
					}
				}
				@media (max-width: 1024.98px) {
					&:not(:last-child) {
						margin-bottom: 15px;
					}
				}
			}
		}
	}
	@media (max-width: 767.98px) {
		.container {
			margin-top: 20px;
			margin-bottom: 20px;
			.title-auv-aca {
				padding-bottom: 30px;
			}

		}

	}
}

