// Why AUV
.index-earth {
	padding: 150px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	.container{ 
		.about-content {
			max-width: 1225px;
			margin-left: auto;
			margin-right: auto;
		}
		.title {
			text-align: center;
			margin-bottom: 100px;
			p{
				color :#d7970c;
				font-size: 6rem;
				font-family: MinionPro-Bold;
				font-weight: bold;
			}
		}
	.list-items{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		@media (max-width: 525px) {
			display: block;
		}
		.item-left{
			text-align: left;
			flex: 0 0 50%;
			max-width: 50%;		
			height: 100%;
			z-index: 1;
			.block {
				position: relative;
				height: 230px;
				.related-text {
					@media (min-width: 759.98px){
						&::after {
							content: "";
							position: absolute;
							width: 160px;
							height: 1px;
							top: 29%;
							left: 5%;
							background-color:#d7970c;
						}
					}
				}
				h2 {
					color:#d7970c;
					font-size: 6rem;
					font-family: MinionPro-Bold;
				}
				.text {
					max-width: 250px;
						p { 
							color: white;
						}
					}
			}
			@media (max-width: 525px) {
				max-width: 100%;
				text-align: center;
				.block {
					margin-bottom: 10px;
					height: auto !important;
				}
				.text {
					max-width: 100% !important;
				}
			}
		}
		.imp {
			position: absolute;
			left: 50%;
			top : 50%; 
			transform: translate(-50% , -50%);
			max-width: 530px;
			max-height: 530px;
			width: 100%;
			height: 100%;
			background: url(../assets/images/index/earth.png) 0 0 repeat no-repeat;
			border-radius: 50%;
			background-size: 970px 543px;
			animation: rotate 4s linear infinite;
			transition: transform 200ms linear;
			transform-style: preserve-3d;
			box-shadow: inset 20px 0 80px 6px rgb(0,0, 0);
			color: #000;
		  @keyframes rotate {
			0% {background-position: 0 0;}
			100% {background-position: 970px 0;}
		  }
		  @media (max-width: 575.98px) {
			  display: none;
		  }
		}
		.item-right {
			flex: 0 0 50%;
			max-width: 50%;		
			align-self: flex-end;
			text-align: right;
			.block {
				position: relative;
				max-width: 290px;
				height: 230px;
				padding-bottom: 10px;
				margin-left: auto;
				@media (min-width: 759.98px){
					&::after {
						content: "";
						position: absolute;
						width: 160px;
						height: 1px;
						top: 29%;
						left: 35%;
						background-color:#d7970c;
					}
				}
				h2{
					color :#d7970c;
					font-size: 6rem;
					font-family: MinionPro-Bold;
				}
				&:first-child {
					.text {
						p {
							color: white;
						}
					}
				}
				.text {
					max-width: 290px;
					p { 
						color: white;
					}
				}
			}
			@media (max-width: 525px) {
				text-align: center;
				max-width: 100%;
				.block {
					max-width: 100% !important;
					height: auto !important;
					.text {
						max-width: 100% !important;
					}
				}
			}
		}
	}
	@media (max-width: 768px) {
		.title {
			margin-bottom: 20px;
		}
		.row {
			.item-left{
				text-align: center;
				.block {
					.related-text {
						&::after {
							content: '';
						}
					}
				}
			}
			.item-right{
				text-align: center;
			}
		}
	}
}
}
@media (max-width: 767.98px) {
	.index-earth {
		padding:50px 0;
	}
}
