//Galley
.auv-galley {
	margin-top: 85px;
	@media (max-width: 1024px) {
		margin-top: 20px;
	}
	.title-galley {
		margin-bottom: 85px;
		p {
			text-align: center;
			font-size: 6rem;
			font-weight: bold;
			color: #d7970c;
			font-family: MinionPro-Bold;
		}
	}
	.main-galley {
		display: flex;
		.item-galley{
			position: relative;
			.galley-desc {
				z-index: 100;
				position: absolute;
				top:50%;
				left: 50%;
				transform: translateX(-50%);
				width: 80%;
				text-align: center;
				color: #fff;
				visibility: hidden;
				opacity: 0;
				pointer-events: none;
				p {
					font-size: 16px;
					font-weight: bold;
					font-family: Montserrat-Bold;
				}
			}
		}
		.is-img {
			padding: 0;
			.galley-img {
				overflow: hidden;
				img {
					transition: transform .5s ease;
					height: 250px;
					@media (max-width: 768.98px) {
						height: 200px ;
					}
				}
			}
		}
		.is-video{
			padding: 0;
			.galley-video {
				overflow: hidden;
				img {
					transition: transform .5s ease;
					height: 250px;
					@media (max-width: 768.98px) {
						height: 200px ;
					}
				}
			}
		}
	
	@media (min-width: 1025px) {
		.item-galley {
			&:hover {
				img {
					transform: scale(1.1);
					transition: transform .5s ease;
				}
				&.is-img {
					cursor: pointer;
					&::before {
						transition: transform .5s ease;
						position: absolute;
						pointer-events: none;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 10;
						background: url(../assets/images/index/hover-ga.png) no-repeat;
						background-size: cover;
					}
					.galley-desc {
						visibility: visible;
						opacity: 1;
					}
				}
				&.is-video {
					cursor: pointer;
					&::before{
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 10;
						background: url(../assets/images/index/hover-ga.png) no-repeat;
						background-size: cover;
					}
					img {
						transform: scale(1.1);
					}
					&::after{
						position:absolute;
						content: '';
						top:40%;
						left: 45%;
						width: 65px;
						height: 65px;
						z-index: 10;
						background: url(../assets/images/index/play-video.png) no-repeat;
						background-size: cover;
					}
					.galley-desc {
						visibility: visible;
						opacity: 1;
						padding-top: 40px;
					}
				}
			}
			.item-galley {
				transition: 1s all ease-in-out;
			}
		}
	}
		@media (max-width: 1024px) {
			.item-galley {
				.galley-desc {
					opacity: 1;
				}
			}
		}
		@media (max-width: 720px){
			flex-wrap: wrap;
				.item-galley {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 100%;
					margin-bottom: 10px;
					padding: 0 5px;
				}
		}
	}
	.main-galley {
		position: relative;
		.swiper-button-prev {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: url(../assets/images/index/arr3.svg) no-repeat; ;
			}
		}
		.swiper-button-next {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background: url(../assets/images/index/arr4.svg) no-repeat; ;
			}
		}
	}

}


@media (max-width: 768px) {
	.auv-galley {
		margin-top: 30px;
		.title-galley {
			margin-bottom: 25px;
		}
	}
}

.auv-section{
	margin-bottom: 75px;
	margin-top: 85px;
	@media (max-width: 1024.98px) {
		margin: 20px 0;
	}
	.container {
		.title {
			margin-bottom: 40px;
			p {
				text-align: center;
				color:#d7970c ;
				font-size: 6rem;
				font-family: MinionPro-Bold;
				font-weight: bold;
			}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.auv-main-swiper {
		position: relative;
		.swiper-container {
			margin: 0 33px;
			@media (max-width: 1024px) {
				padding-bottom: 30px;
			}
			@media (max-width: 575.98px) {
				margin: 0;
			}
		}
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-self: center;
			align-items: center;
			img {
				max-height: 180px;
			}
		}
		.swiper-button-next,
		.swiper-button-prev {
			right: 0px;
			@media (max-width: 1024px) {
				top: unset;
			}
		}
		.swiper-button-next {
			@media (max-width: 1024px) {
				right: calc(50% - 50px);
			}
		}
		.swiper-button-prev {
			@media (max-width: 1024px) {
				left: calc(50% - 50px);
			}
		}
	}
	}
}

//auvmap
.auvmap-section {
	iframe {
		height: 500px;
		width: 100%;
		display: flex;
		@media (max-width: 1024px) {
			height: 300px;
			width: 100%;
		}
	}
	
}
