.note-section {
	margin-top: 55px;
	.container {
		.container-custom {
			.auv-new-content {
				padding-left: 10%;
				.auv-new-title {
					margin-bottom: 50px;
					h2 {
						font-size: 6rem;
						color: #d7970c;
						font-family: MinionPro-Bold;
						@media (max-width: 1024px) {
							font-size: 5.5rem;
						}
					}
				}
				.block-main-title{
					margin-bottom: 50px;
					.title {
						padding-bottom: 10px;
						position: relative;
						p {
							font-family: Montserrat-Bold;
							font-size: 3.5rem;
							font-weight: bold;
							color: #0B1F44;
						}
						&::after {
							content: '';
							position: absolute;
							width: calc(100% - 200px);
							height: 1px;
							bottom: 0;
							left: 0;
							background-color:#CECECE;
						}
					}
				}
			}

		}
	}
}
	.block-list-item {
		max-width: 970px;
		.block__item-note{
			margin-bottom: 20px;
			display: flex;
			.img--news {
				-ms-flex: 0 0 400PX;
				flex: 0 0 400PX;
				max-width: 400PX;
				img {
					max-height: 236px;
				}
			}
			.item--desc {
				position: relative;
				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;
				max-width: 100%;
				@media (max-width:767.98px ) {
					margin-left: 0px;
					&::after {
						position: absolute;
						content: '';
						height: 1px;
						width: 100%;
						background: map-get($color, main-3 );
					}
				}
				margin-left: 15px;
				.title {
					padding-top: 20px;
					p {
						font-size: 2.5rem;
						font-family: Montserrat-Bold;
						color: map-get($color, main-3);
						overflow: hidden;
						text-overflow: ellipsis;
						-webkit-line-clamp: 3;
						display: -webkit-box;
						-webkit-box-orient: vertical;
					}
				}
				.news--date{
					position: absolute;
					bottom: 10%;
					color: #989898;
					span {
						font-family:  Montserrat-Regular;
					}
					@media (max-width: 767.98px) {
						position: unset;
						margin-top: 10px;
						margin-bottom: 5px;
					}
			}
			}
		}
	}

	@media (max-width: 1024px) {
		.auv-new-content {
			padding-left: 0px !important;
		}
	}
	@media (max-width: 767.98px) {
		.block__item-note {
			flex-wrap: wrap;
			flex-direction: column;
			.img--news {
				flex: 0 0 100% !important;
				max-width: 100% !important;
			}
		}
	}
.pagination {
	padding-top: 50px;
    width: 100%;
    display: flex;
    list-style-type: none;
	padding-left: 0;
	@media (max-width: 1024px) {
		justify-content: center;
	}
    li {
		position: relative;
		margin: 0 5px;
		@media (max-width: 1024px) {
			margin: 0px;
		}
		&.active {
			a {
				font-family: Futura-Bold;
				color: #0B1F44;
			}
			&::after {
				content: '';
				position: absolute;
				width: 50%;
				height: 1px;
				bottom: 0;
				left: 25%;
				background: map-get($color, x-black);
			}
		}
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #989898;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 18px;
            transition: all .2s cubic-bezier(.2, .5, .5, .8);
        }
	@media (min-width: 1025px) {
		&:hover {
			a {
				text-decoration: none;
				color: #0B1F44;
			}
		}
	}

    }
    @media (max-width: 1024.98px) {
        li {
            a {
                font-size: 14px;
            }
        }
    }
}