.construction-Plans  {
	background-color: #0B1F44;
	margin-top: 80px;
	padding-top: 70px;
	padding-bottom: 100px;
	@media (max-width: 1024px) {
		margin-top: 30px;
		padding-bottom: 30px;
		padding-top: 30px;
	}
	.container {

		.tab-container {
			padding-left: 10%;
		@media (max-width: 1024.98px) {
			padding-left: 0px !important;
		}
			.main-title {
				color: #ffffff;
				p {
					font-size: 5rem;
					font-weight: bold;
					font-family: MinionPro-Bold;
				}
				margin-bottom: 65px;
				@media (max-width: 1024px) {
					margin-bottom: 20px;
					font-size: 4rem;
				}
			}
			.content-items{
				display: flex;
				flex-wrap: wrap;
				.block__main--title {
					padding: 0;
					padding-right: 40px;
					.title-tab {
						margin-bottom: 20px;
						@media (max-width: 1024px) {
							margin-bottom: 0;
						}
					}
					@media (max-width: 1024.98px) {
						margin-bottom: 10px;
						padding-right: 0px !important;
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
						display: flex;
						flex-wrap: wrap;
						.title-tab {
							padding:10px 10px ;
							-ms-flex: 0 0 50%;
							flex: 0 0 50%;
							max-width: 50%;
							@media (max-width: 767.98px) {
								-ms-flex: 0 0 100%;
								flex: 0 0 100%;
								max-width: 100%;
							}
						}
					}
					.title {
						height: 100%;
						background-color: #ffffff;
						padding: 20px;
						border-radius: 8px;
					@media (max-width: 1024px) {
						padding: 10px;
					}
							&:hover {
								background-color: #d7970c;
							}
							&.active {
								background-color: #d7970c;
								font-family: Futura-Bold;
							}
					}
					p {
						color: #707070;
						font-size: 20px;
						&:hover {
							color: #ffffff;
							font-weight: bold;
						}
						&.active {
							color: #ffffff;
							font-weight: bold;
						}
							cursor: pointer;
					}
				}
				.list-tab-content{
					padding: 0;
					@media (max-width: 1024.98px) {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
					.tab-content {
						background-color: #ffffff;
						.content.tab-bch {
							padding: 65px;
						@media (max-width: 1024px) {
							padding: 20px;
						}
						@media (max-width: 525px) {
							padding: 10px;
						}
							.title-lab {
								color:#0D1F3C;
								font-family: Futura-Bold;
								padding-bottom: 15px;
							}
							.sub-title {
								p {
									font-size: 20px;
									overflow-y:scroll;
									text-overflow: ellipsis;
									-webkit-line-clamp: 9;
									display: -webkit-box;
									-webkit-box-orient: vertical;
									@media (max-width: 1024px) {
										overflow: auto;
									}
								}
								@media (max-width: 1024.98px) {
									p {
										display: block;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}