.lib__page {
	padding-top: 70px;
	margin-bottom: 50px;
	@media (max-width: 1024px) {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.container {
		.container-custom {
			.lib__page__wrapper{
				padding-left: 10%;
				.title {
					p {
						font-size: 5rem;
						color :#d7970c;
						font-family: MinionPro-Bold;
					}
				}
				.list-item-lib {
					margin-bottom: 30px;
					margin-top: 50px;
					@media (max-width: 1024px) {
						margin-top: 20px;
						margin-bottom: 10px;
					}
					.item-1{
						position: relative;
						p {
							font-size: 3.5rem;
							font-family: Montserrat-Bold;
							color: #0B1F44;
							@media (min-width: 1024px) {
								&::before {
									content: "";
									position: absolute;
									width: 91%;
									height: 1px;
									bottom: 0;
									left: 10%;
									top: 63%;
									background-color:#0B1F44;
								}
							}
						}
	
					}
				}
			}
		}

	}

}
.content--gallery {
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 20px;
	width: 100%;
	@media (max-width: 1024.98px) {
		grid-template-columns:50% 50% ;
	}
	@media (max-width: 768.98px) {
		grid-template-columns:100%;
	}
	.item-gallery.img{
		position: relative;
		width: 100%;
		overflow: hidden;
		img {
			width: 100%;
			transition: .5s all ease-in-out;
		}
		&::before {
			content: "";
			pointer-events: none;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #707070;
			opacity: .5;
			transition: .5s all ease-in-out;
		}
	}
	.item-gallery.video{
		position: relative;
		width: 100%;
		overflow: hidden;
		img {
			width: 100%;
			transition: .5s all ease-in-out;
		}
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: #707070;
			opacity: .7;
			transition: .3s all ease-in-out;
		}
		&::after{
			content: '';
			opacity: 1;
			position:absolute;
			top:40%;
			left: 40%;
			width: 65px;
			height: 65px;
			z-index: 10;
			background: url(../assets/images/index/play-video.png) no-repeat;
			background-size: cover;
			transition: .2s all ease-in-out;
		}
	}

	@media (min-width: 1025px) {
		.item-gallery:hover {
			cursor: pointer;
			&::before {
				opacity: 0;
				transition: .2s all ease-in-out;
			}
			&::after {
				opacity: 0;
				transition: .2s all ease-in-out;
			}
			img {
				transform: scale(1.1);
				transition: .2s all ease-in-out;
			}
		}
	}
}
@media (max-width: 1024px) {
	.lib__page__wrapper {
		padding-left: 0px !important;
	}
}


.fancybox-content  {
	background: none;
}
.popup-img {
	.pop-img__wrapper {
		.swiper-container.gallery-top {
			margin-bottom: 10px;
			max-width:730px; 
			.swiper-wrapper {
				.swiper-slide {
					user-select: none;
					img {
						width: 100%;
						max-height: 530px;
						max-width:730px; 
						object-fit: cover;
						object-position: center;
						font-family: 'object-fit: cover, object-position: center';
						background-size: cover;
					}
				}
			}
			.wrapper {
				z-index: 10;
				position: absolute;
				bottom: 0%;
				left: 50%;
				transform: translateX(-50%);
				width: 80px;
				height: 27px;
				margin-bottom: 15px;
			
				.swiper-button-next{
					content: '';
					bottom: unset;
					right: 0;
					left: unset;
					top: 50%;
					transform: translateY(-50%);
					width: 27px;
					height: 27px;
					margin-top: unset;
					background: url(../assets/images/index/next-ar.svg) no-repeat;
					&::after {
						content: '';
					}
				}
				.swiper-button-prev{
					bottom: unset;
					right: unset;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 27px;
					height: 27px;
					margin-top: unset;
					background: url(../assets/images/index/prev-ar.svg) no-repeat;
					&::after {
						content: '';
					}
				}
		}
		}
		.swiper-container.gallery-thumbs{
			max-width: 730px;
			.swiper-wrapper{
				.swiper-slide {
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}
