.calendar-auv {
	padding-top: 80px;
	padding-bottom: 100px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.title {
		text-align: center;
		margin-bottom: 40px;
		h2 {
			color: map-get($color, main-3);
		}
	}
	.title-desc {
		padding-left: 25%;
		margin-bottom: 50px;
		p {
			&:not(:last-child) {
				margin-bottom: 20px;
				@media (max-width: 1024.98px) {
					margin-bottom: 10px;
				}
			}
		}
		@media (max-width: 1024.98px) {
			padding-left: unset;
			margin-bottom: 20px;
		}
	}
	.content-calendar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -10px;
		.block-main-title {
			padding-right: 35px;
			.title-calendar {	
				background: #F1F1F1;
				border-radius: 5px;
				padding: 15px 0 15px 20px;
				transition: all .2s ease-in-out;
				&:not(:last-child) {
					margin-bottom: 20px;
					
				}
				@media (max-width: 1024.98px) {
					margin-bottom: 5px !important;
				}
				cursor: pointer;
				p {
					font-size: 2rem ;
					@media (max-width: 1199.98px) {
						font-size: 1.6rem;
					}
				}
				@media (min-width: 1025px) {
					&:hover {
						transition: all .2s ease-in-out;
						background-color: #0B1F44;
						p {
							transition: all .2s ease-in-out;
							font-family: Futura-Medium;
							color: #ffffff;
						}
					}
				}
				&.active {
					transition: all .2s ease-in-out;
					background-color: #0B1F44;
					p {
						transition: all .2s ease-in-out;
						font-family: Futura-Medium;
						color: #ffffff;
					}
				}
			}
			@media (max-width: 1024.98px) {
				padding: 0 10px;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.list-tab-content {
			box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
			background: #F1F1F1;
			padding: 40px 50px 20px 50px;
			@media (max-width: 767.98px) {
				padding: 10px 10px;
			}
			.tab-content {
				.title-lab {
					position: relative;
					font-family: Montserrat-Bold;
					font-size: 2rem;
					color: #0B1F44;
					padding-bottom: 5px;
					margin-bottom: 5px;
					&::after {
						content: '';
						position: absolute;
						width: 100%;
						height: 1px;
						bottom: 0;
						left: 0;
						background: #0D1F3C;
					}
				}
				.time-job {
					margin-bottom: 40px;
				}
				.active-auv {
					position: relative;
					background: white;
					padding: 15px 0;
					&::after {
						content: '';
						position: absolute;
						width: 0.25px;
						height: calc(100% - 30px);
						top: 50%;
						transform: translateY(-50%);
						left: 25%;
						background: #0B1F44;
						opacity: .2;
					}
				}
				.auv-time-job {
					justify-content: center;
					align-items: center;
					p {
						color: #989898;
						line-height: 1.5;
					}
					.time {
						padding-left: 100px;
						@media (max-width: 767.98px) {
							padding-left: 15px;
						}
						
					}
					.job {
						padding-left: 100px;
						@media (max-width: 767.98px) {
							padding-left: 15px;
						}
					}
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}