.curricula-outcomes {
	background-size: cover;
	background-position: center;
	position: relative;
	padding-top: 100px;
	padding-bottom: 135px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #0b1f44;
		content: "";
		opacity: .8;
	}
	.title-curr {
		margin-bottom: 110px;
		p {
			text-align: center;
			font-size: 5rem;
			font-family: MinionPro-Bold;
			color: map-get($color, x-white);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.block-main-curr {
		margin-left: -30px;
		margin-right: -30px;
		justify-content: center;
		@media (max-width: 1024.98px) {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	.content-curr {
		width: 100%;
		padding: 0 30px;
		@media (max-width: 1024.98px) {
			padding: 0 10px;
		}
		@media (max-width: 767.98px) {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}

.content-curr__wrapper{
	background: map-get($color, x-white);
	height: 100%;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
}
.curr-title {
	box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
	background: #D7970C;
	padding: 20px 30px;
	p {
		color: map-get($color, x-white);
		font-size: 3rem;
		font-family: Montserrat-Light;
	}
}
.curr-body {
	padding: 40px 35px;
}
.curr-desc {
	max-height: 170px;
	overflow: hidden;
	margin-bottom: 40px;
}
.more-desc {
	cursor: pointer;
	position: relative;
	width: 100px;
	background-color: #ffffff;
	padding-top: 10px;
	span {
		color: #0b1f44;
		font-size: 18px;
		font-family: MinionPro-Bold;
	}
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 2px;
		background-color: #d7970c;
	}
}

#popup-curricula {
	max-width: 1088px;
	.curr-title {
		padding: 20px 138px;
		@media (max-width: 1023.98px) {
			padding: 20px 20px;
		}
		p {
			@media (max-width: 1024px) {
				max-width: 415px;	
			}
	}
	}
	.curr-body {
		padding: 0;
	}
	.curr-desc {
		padding: 40px 138px;
		max-height: 365px; 
		margin-bottom: unset;
		overflow-y: auto;
		padding-right: 50px;
		@media (max-width: 1024.98px) {
			padding: 20px;
		}
	}
	.more-desc {
		display: none;
	}
}