.academics-preporatory {
	padding: 100px 0;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.academics-preporatory__wrapper {
		padding-left: 8.33333%;
	}
	.title {
		text-align: center;
		margin-bottom: 80px;
		h2 {
			color: map-get($color, main-3);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.content {
		display: flex;
		align-items: center;
		.img {
			-ms-flex: 0 0 536px;
			flex: 0 0 536px;
			max-width: 536px;
			z-index: 2;
		}
		.desc {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			position: relative;
			padding: 20px;
			.desc__wrapper {
				background: map-get($color, x-white);
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				padding: 50px 35px;
				@media (max-width: 767.98px) {
					padding: 15px 10px;
				}
				p {
					&:not(:last-child) {
						margin-bottom: 20px;
						@media (max-width: 767.98px) {
							margin-bottom: 10px;
						}
					}
					&:first-child {
						padding-top: 10px;
						position: relative;
						&::after {
							content: "";
							position: absolute;
							width: 14px;
							height: 3px;
							background: map-get($color, main-4);
							border-radius: 3px;
							top: 0;
							left: 0;
						}
					}
				}
			}
			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: #F1F1F1;
				z-index: -1;
				@media (max-width: 575.98px) {
					content: none;
				}
			}
		}
		@media (max-width: 1439.98px) {
			flex-wrap: wrap;
			.img {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				max-height: 537px;
				height: 100%;
				overflow: hidden;
				margin-bottom: 20px;
			}
			.desc {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-left: unset;
			}
		}
	}
}

