.academics-majors {
	background: map-get($color, main-3);
	padding-bottom: 130px;
	@media (max-width: 1024.98px) {
		padding-bottom: 40px;
		padding-top: 40px;
	}
	.card {
		.card-header {
			height: 135px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: map-get($color, main-4);
			box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
			h2 {
				color: map-get($color, x-white);
			}
			@media (max-width: 1024.98px) {
				height: 100px;
			}
		}
		.card-body {
			padding: 70px 85px;
			background: #F1F1F1;
			@media (max-width: 1024.98px) {
				padding: 20px;
			}
			@media (max-width: 575.98px) {
				padding:10px 5px;
			}
			.card-body__wrapper {
				overflow: hidden;
			}
			.row  {
				margin-left: -100px;
				margin-right: -100px;
				justify-content: center;
				position: relative;
				
				&::after {
					content: "";
					position: absolute;
					height: 5px;
					width: 100%;
					background: #F1F1F1;
					bottom: 15px;
					left: 0;
					pointer-events: none;
					opacity: 0.5;
				}
				.item {
					padding: 0 100px;
					padding-bottom: 15px;
					margin-bottom: 15px;
					&:not(:last-child) {
						border-bottom: .2px solid map-get($color, main-5);
					}
					.item__wrapper {
						box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
						height: 47px;
						display: flex;
						align-items: center;
						background: map-get($color, x-white);
						padding: 0 10px;
						border-radius: 7px;
						transition: .2s all ease-in-out;
						cursor: pointer;
						.img {
							-ms-flex: 0 0 32px;
							flex: 0 0 32px;
							max-width: 32px;
						}
						.txt {
							padding-left: 18px;
							p {
								font-size: 2rem;
							}
						}
					}
					@media (min-width: 1025px) {
						&:hover {
							transition: .2s all ease-in-out;
							.item__wrapper {
								transition: .2s all ease-in-out;
								background: map-get($color, main-3);
								.img {
									svg {
										path {
											transition: .2s all ease-in-out;
											stroke: map-get($color, x-white);
											fill: map-get($color, x-white);
										}
									}
								}
								.txt {
									p {
										transition: .2s all ease-in-out;
										color: map-get($color, x-white);
									}
								}
							}
						}
					}
				}
				@media (max-width: 1439.98px) {
					margin-left: -10px;
					margin-right: -10px;
					.item {
						padding-left: 10px;
						padding-right: 10px;
					}
				}
				@media (max-width: 767.98px) {
					.item {
						-ms-flex: 0 0 50%;
						flex: 0 0 50%;
						max-width: 50%;
						.item__wrapper {
							padding: 0 5px;
						}
					}
				}
				@media (max-width: 575.98px) {
					.item {
						-ms-flex: 0 0 100%;
						flex: 0 0 100%;
						max-width: 100%;
					}
				}
			}
		}
	}
}

.academics-centers {
	background: map-get($color, main-3);
	padding-bottom: 90px;
	@media (max-width: 1024.98px) {
		padding-bottom: 40px;
	}
	.title {
		text-align: center;
		margin-bottom: 60px;
		h2 {
			color: map-get($color, x-white);
		}
		@media (max-width: 1024.98px) {
			margin-bottom: 20px;
		}
	}
	.content {
		display: flex;
		flex-wrap: wrap;
		.content-tab {
			-ms-flex: 0 0 350px;
			flex: 0 0 350px;
			max-width: 350px;
			background: map-get($color, x-white);
			border-radius: 19px;
			padding: 35px 20px;
			overflow: hidden;
			height: fit-content;
			ul {
				list-style: none;
				padding: 0;
				li {
					padding-left: 10px;
					position: relative;
					cursor: pointer;
					&:not(:last-child) {
						margin-bottom: 20px;
					}
					p {
						transition: .5s all ease-in-out;
					}
					&.active {
						&::before {
							transition: .5s all ease-in-out;
							content: "";
							position: absolute;
							width: 100%;
							height: 36px;
							top: 50%;
							transform: translateY(-50%);
							left: 0;
							background: map-get($color, main-3);
							pointer-events: none;
							border-radius: 6px;
						}
						p {
							transition: .5s all ease-in-out;
							color: map-get($color, x-white);
							position: relative;
							
						}
						
					}
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 20px;
			}
			@media (max-width: 575.98px) {
				padding: 15px 5px;
			}
		}
		.content-active-tab {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding-left: 35px;
			.content {
				background: rgba($color: map-get($color, x-white), $alpha: .2);	
				padding: 40px 30px 20px 30px;
				@media (max-width: 1024.98px) {
					padding: 20px;
				}
				@media (max-width: 575.98px) {
					padding: 10px 5px;
				}
			}
			.content-title {
				margin-bottom: 40px;
				@media (max-width: 1024.98px) {
					margin-bottom: 20px;
				}
				p {
					color: map-get($color, main-4);
					font-family: Futura-Medium;
					color: map-get($color, main-4);
				}
			}
			.content-desc {
				p {
					margin-bottom: 20px;
					color: map-get($color, x-white);
					@media (max-width: 1024.98px) {
						margin-bottom: 10px;
					}
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				padding-left: unset;
			}
		}
	}
}

#majorsAndminors {
	max-width: 1088px;
	max-height: 882px;
	height: 100%;
	width: 100%;
	background: #F1F1F1;
	box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
	padding: 50px 40px 50px 80px;
	.popup__wrapper {
		height: 100%;
		overflow: hidden;
	}
	.title {
		margin-bottom: 40px;
		text-align: center;
		h2 {
			color: map-get($color, main-3);
			font-size: 3rem;
			font-family: Montserrat-Bold;
		}
	}
	.content {
		display: flex;
		margin: 0 -25px;
		height: 100%;
		@media (max-width: 1024.98px) {
			margin: 0 -5px;
		}
		.list-subject {
			padding: 0 25px;
			-ms-flex: 0 0 240px;
			flex: 0 0 340px;
			max-width: 340px;
			height: 100%;
			@media (max-width: 1024.98px) {
				padding: 0 10px;
				-ms-flex: 0 0 30%;
				flex: 0 0 30%;
				max-width: 30%;
			}
			@media (max-width: 575.98px) {
				padding: 0 5px;
			}
			ul {
				list-style: none;
				padding: 0;
				li {
					margin-bottom: 10px;
					cursor: pointer;
					p {
						font-size: 1.4rem;
						@media (max-width: 575.98px) {
							font-size: 1.2rem;
						}
					}
					&.active {
						p {
							font-size: 1.6rem;
							color: map-get($color, main-3);
							font-family: Futura-Bold;
							@media (max-width: 575.98px) {
								font-size: 1.4rem;
							}
						}
					}
				}
			}
		}
		.subject-desc {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			padding: 0 25px;
			padding-top: 50px;
			height: 100%;
			background: map-get($color, x-white);
			@media (max-width: 1024.98px) {
				padding: 0 10px;
				-ms-flex: 0 0 70%;
				flex: 0 0 70%;
				max-width: 70%;
			}
			@media (max-width: 575.98px) {
				padding:0 5px;
			}
			.subject-desc__wrapper {
				padding-right: 15px;
				height: 100%;
				.wrapper {
					overflow-y: auto;
					height: 100%;
				}
				h5 {
					color: map-get($color, main-3);
					font-family: Futura-Medium;
					margin-bottom: 20px;
					max-width: 536px;
				}
				.sub-title {
					max-width: 536px;
					margin-bottom: 20px;
				}
			}
		}
	}
	@media (max-width: 1024.98px) {
		padding: 40px 5px;
		.popup__wrapper {
			overflow-y: auto;
			&::-webkit-scrollbar {
				width: 3px;
				height: 3px;
			}
		}
	}
}