.academis-course {
	background: #F1F1F1;
	padding-top: 170px;
	padding-bottom: 140px;
	@media (max-width: 1024.98px) {
		padding: 40px 0;
	}
	.academis-course__wrapper {
		position: relative;
	}
	.title {
		text-align: center;
		position: absolute;
		width: calc(100% - 536px + 120px);
		right: 0;
		top: 10px;
		h2 {
			color: map-get($color, main-3);
		}
		@media (max-width: 1439.98px) {
			position: relative;
			right: unset;
			top: unset;
			width: 100%;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.content {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		@media (max-width: 1024.98px) {
			justify-content: center;
		}
		.img {
			-ms-flex: 0 0 536px;
			flex: 0 0 536px;
			max-width: 536px;
			padding-bottom: 70px;
			@media (max-width: 1024.98px) {
				margin-bottom: 20px;
				padding-bottom: 0;
			}
			@media (max-width: 575.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
		.desc {
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%;
			z-index: 1;
			.desc__wrapper {
				background: map-get($color, x-white);
				padding: 50px 40px;
				box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
				p {
					margin-bottom: 20px;
					@media (max-width: 1439.98px) {
						margin-bottom: 10px;
					}
				}
				.btn-remore {
					margin: unset;
					button {
						background: map-get($color, main-4);
						span {
							color: map-get($color, x-white);
						}
						svg {
							path {
								stroke: map-get($color, x-white);
							}
						}
					}
				}
				@media (max-width: 1439.98px) {
					padding: 20px;
				}
			}
			@media (max-width: 1024.98px) {
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				max-width: 100%;
				margin: 0;
				padding-bottom: 0;
			}
			@media (max-width: 575.98px) {
				.desc__wrapper {
					padding: 10px;
					p {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}