extends _templates/_layout/_layout.pug

block var
	- let title = 'Page | Index';
	- let bodyClass = 'index-page';
	- let linkBanner = './assets/images/index/banner.png';
	- let titleBanner = 'TRANG CHỦ';


block banner,breadcrumb
	include _templates/_layout/_mainBanner
block main
	include _templates/index/i-1
	include _templates/index/i-2
	include _templates/index/i-3
	include _templates/index/i-4
	include _templates/index/i-5
	include _templates/index/i-6
	include _templates/index/i-7
block scripts
	//- script.
	//- 	var locationsInput = [
	//- 		{
	//- 			lat: 15.974071628854,
	//- 			lng: 108.25750705499,
	//- 			title: 'AUV University',
	//- 			icon: './assets/icons/map.png'
	//- 		},
	//- 	]
	//- script(src="./js/GoogleMapController.min.js")