//- Why AUV 
section.index-earth(fp-bg="./assets/images/index/1.png")
	.container
		.container-custom.size-1365px
			.about-content
				.title
					p Why AUV ?
				.list-items
					.item-left
						.block
							.related-text 
								h2 01
							.text
								p Excellent​ ​American​ education​ ​here​ ​in​ ​Vietnam.
						.block
							.related-text 
								h2 02
							.text
								p Faculty​ ​with​ ​the​ ​highest US​ ​academic​ ​credentials.
						.block
							.related-text 
								h2 03
							.text
								p Joint​ ​and​ ​Dual degree​ ​options.
					.imp
					.item-right
						.block
							.related-text 
								h2 04
							.text
								p Support​ ​from​ ​higher​ ​education​ ​leaders​ ​in​ ​the​ ​US​ , ​including​ ​The​ ​Institute​ ofInternationalEducation​ ​(IIE)​ ​and​ ​the​ ​United​ ​Nations​ ​Institute​ ​for​ ​Training​ and​ ​Research​ ​(UNITAR).
						.block
							.related-text 
								h2 05
							.text
								p Intimate​ ​classroom​ ​sizes​ ​for​ ​personalized​ ​instruction​ ​in​ ​English.
						.block
							.related-text 
								h2 06
							.text
								p Small class sizes create interaction and bond between teachers and students.
