//-  Auv-section
section.auv-galley 
		.title-galley
			p Gallery
		.tab-content
			.content.image-galley
				.main-galley
					.swiper-container
						.swiper-wrapper 
							.swiper-slide 
								.is-img.item-galley
									.galley-img
										img.object-cover.fullsize(src="./assets/images/index/new-1.png", alt="")
									.galley-desc
										p Lorem Ipsum is simply dummy text printing
									.d-none
										-for(var j = 0; j< 6; j++)
											.swiper-slide
												img.object-cover.fullsize(src=`./assets/images/index/new-2.png`, alt="")
							.swiper-slide
								.is-img.item-galley
									.galley-img
										img.object-cover.fullsize(src="./assets/images/index/new-2.png", alt="")
									.galley-desc
										p Lorem Ipsum is simply dummy text printing
									.d-none
										-for(var j = 0; j< 6; j++)
											.swiper-slide
												img.object-cover.fullsize(src=`./assets/images/index/new-2.png`, alt="")
							.swiper-slide
								.is-video.item-galley(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
									.galley-video
										img.object-cover.fullsize(src="./assets/images/index/new-4.png", alt="")
									.galley-desc
										p Lorem Ipsum is simply dummy text printing
							.swiper-slide
								.is-img.item-galley
									.galley-img
										img.object-cover.fullsize(src="./assets/images/index/new-3.png", alt="")
									.galley-desc
										p Lorem Ipsum is simply dummy text printing
									.d-none
										-for(var j = 0; j< 6; j++)
											.swiper-slide
												img.object-cover.fullsize(src=`./assets/images/index/new-2.png`, alt="")
						.swiper-button-next
						.swiper-button-prev
		.d-none
			.popup-img#popup-imgs
				.pop-img__wrapper
					.swiper-container.gallery-top
						.swiper-wrapper
						.wrapper
							.swiper-button-next
							.swiper-button-prev
					.swiper-container.gallery-thumbs
						.swiper-wrapper
