[hidden],
.hidden,
.d-none {
	display: none !important;
}

.desktop {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 1025px) {
		display: none !important;
	}
}

.d-block {
	display: block;
}

.d-inline-block {
	display: inline-block;
}

.d-flex {
	display: flex;
}

.d-inline-flex {
	display: inline-flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-space-between {
	justify-content: space-between;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.list-style-none {
	list-style-type: none;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

.mx-auto {
	margin-right: auto;
	margin-left: auto;
}

.overflow-hidden {
	overflow: hidden;
}

.font-italic {
	font-style: italic;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}

.text-center {
	text-align: center;
}
#go-top {
	cursor: pointer;
	position: fixed;
	right: 25px;
	bottom: 120px;
	opacity: 0;
	visibility: hidden;
	transition: .3s all ease-in-out;
	z-index: 300;
	width: 70px;
	height: 70px;
	&.show {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 1440.98px) {
		right: unset;
		left: 10px;
		bottom: 10px;
		width: 40px;
	}
}

.w-100 {
	width: 100%;
}

.h-100 {
	height: 100%;	
}

.lcl {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	&.lcl-1 {
		-webkit-line-clamp: 1;
	}
	&.lcl-2 {
		-webkit-line-clamp: 2;
	}
	&.lcl-3 {
		-webkit-line-clamp: 3;
	}
}

.swiper-button-yellow {
	.swiper-button-next,
	.swiper-button-prev {
		width: 31px;
		height: 31px;
	}
	.swiper-button-next{

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../assets/images/index/arr2.svg) no-repeat;
		}
	}
	.swiper-button-prev{
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../assets/images/index/arr1.svg) no-repeat;
		}
	}
}

#overlay {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;
	transition: .3s all ease-in-out;

	&.show {
		opacity: 1;
		visibility: visible;
		pointer-events: visible;
	}
}

.mrbt-0 {
	margin-bottom: 0 !important;
}

.input-validation-error {
	border: 1px solid red!important;
	color: red!important;
	transition: .3s all ease-in-out;
}

.input-validation-error {
	border: 1px solid red!important;
	color: red!important;
	transition: .3s all ease-in-out;
}

.sectionController {
	position: fixed;
	right: 0;
	top: 300px;
	z-index: 500;
	.item {
		background: map-get($color, x-white);
		box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
		margin-bottom: 1px;
		height: 24px;
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		width: fit-content;
		margin-left: auto;
		min-width: 24px;
		transition: .2s all ease-in-out;
		p {
			padding: 0 25px;
			position: absolute;
			font-size: 1.4rem;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			min-width: max-content;
			width: 100%;
			font-family: MinionPro-Bold;
			opacity: 0;
			transition: .2s all ease-in-out;
			color: map-get($color, main-3);
		}
		&::after {
			content: "";
			position: absolute;
			background:#F1F1F1;
			top: 50%;
			transform: translateY(-50%);
			right: 7px;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			pointer-events: none;
		}
		&.active {
			background: #F1F1F1;
			p {
				position: relative;
				top: unset;
				left: unset;
				transform: unset;
				opacity: 1;
				transition: .2s all ease-in-out;
			}
			&::after {
				background: map-get($color, main-3);
			}
		}
	}
	@media (max-width: 1024.98px) {
		display: none;
	}
}
.fake-button-recaptcha {
	display: none;
}