.notify-student {
	margin-bottom: 120px;
	margin-top: 128px;
	@media (max-width: 1024px) {
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.container {
		.container-custom{
			.student-note {
				max-width: 1088px;
				margin-left: auto;
				margin-right: auto;
				.student-title {
					background: #0B1F44;
					padding: 30px 0 15px ;
					text-align: center;
					p {
						color: #FFFFFF;
						font-size: 5rem;
						font-family: MinionPro-Bold;
					}
				}
				.note-day {
					background: #F1F1F1;
					box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
					.note-st--main {
						position: relative;
						display: flex;
						padding: 55px 0 55px;
						@media (max-width: 1024px) {
							padding: 30px 0 30px;
						}
						.day-st {
							text-align: right;
							p {
								max-width: 200px;
								margin-left: auto;
								font-size: 2rem;
								font-family: Futura-Medium;
								color: #707070;
								white-space: pre-line;
							}
						}
						.desc-st {
							max-width: 414px;
							padding-left: 30px;
							p {
								font-size: 2rem;
								color: #707070;
							}
						}
					}
					.note-st--main {
						&:not(:last-child) {
							&::after {
								position: absolute;
								content: '';
								width: 80%;
								height: 1px;
								bottom: 0;
								background: #707070;
								left: 10%;
								}
					}
				
				}
				}
			}
		}
	}
}