.student-news {
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #0B1F44;
		opacity: .8;

	}
	.container {
		.container-custom {
			.student-news-auv {
				padding: 160px 0;
				.block-list-items {
					display: flex;
					flex-wrap: wrap;
					.img--news {
						-ms-flex: 0 0 40%;
						flex: 0 0 40%;
						max-width: 40%;
						img {
							max-width:536px ;
							max-height: 435px;
							@media (max-width: 1024px) {
								max-width: 100%;
								max-height: 100%;
							}
						}
					}
					.items--desc {
						padding-top: 20px;
						padding-left: 56px;
						-ms-flex: 0 0 60%;
						flex: 0 0 60%;
						max-width: 60%;
						.title {	
							margin-bottom: 75px;
							font-size: 5rem;
							color: #D7970C;
							font-family: MinionPro-Bold;
							@media (max-width: 1024px) {
								margin-bottom: 10px;
							}
						}
						.info-desc{
							p {
								color: #FFFFFF;
								font-size: 2rem;
								font-family: Futura-Light;
								
							}
					}
				}
			@media (max-width: 1023.98px) {
				.img--news {
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					text-align: center;
				}
				.items--desc {
					padding-left: 0px;
					-ms-flex: 0 0 100%;
					flex: 0 0 100%;
					max-width: 100%;
					.title {
						text-align: center;
					}
				}
			}
			}
		}
		@media (max-width: 1023.98px) {
			.student-news-auv {
				padding: 50px 0 ;
			}
		}
	}
	}
}