.rules-of-conduct {
	position: relative;
	padding:110px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	@media (max-width: 1024px) {
		padding: 40px 0;
	}
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: #0B1F44;
		opacity: .8;
	}
	.container {
		.container-custom {
			.tab-container {
				.main-title {
					margin-bottom: 80px;
					p { 
						font-size: 5rem;
						font-family: MinionPro-Bold;
						color :#D7970C; 
						text-align: center;
					}
					@media (max-width: 1024px) {
						margin-bottom: 30px;
					}
				}
				.content-items {
					display: flex;
					flex-wrap: wrap;
					.block__main--title {
						justify-content: center;
						padding-left: 50px;
						-ms-flex: 0 0 40%;
						flex: 0 0 40%;
						max-width: 40%;
						@media (max-width: 1024.98px) {
							padding-bottom: 10px;
							padding-right: 0px !important;
							-ms-flex: 0 0 100%;
							flex: 0 0 100%;
							max-width: 100%;
							display: flex;
							flex-wrap: wrap;
							.title__tab {
								padding:10px 10px ;
								-ms-flex: 0 0 50%;
								flex: 0 0 50%;
								max-width: 50%;
							}
						}
						@media (max-width: 525px) {
							padding-left: 0px !important;
							padding-right: 0px !important;
							-ms-flex: 0 0 100%;
							flex: 0 0 100%;
							max-width: 100%;
							display: flex;
							flex-wrap: wrap;
							.title__tab {
								-ms-flex: 0 0 100%;
								flex: 0 0 100%;
								max-width: 100%;
							}
						}
						.title {
							height: 100%;
							padding: 12px 25px 14px 21px;
							margin-bottom: 20px;
							background: #FFFFFF;
							border-radius: 5px;
							@media (min-width: 1024px) {
								&:hover {
									background-color: #d7970c;
								}
							}
							&.active {
								background-color: #d7970c;
							}
						}
						p {
							font-size: 2rem;
							font-family: Futura-Light;
							color: #707070;
							transition: .3s all ease-in-out;
							@media (min-width: 1024px) {
								&:hover {
									color: #ffffff;
									transition: .3s all ease-in-out;
								}
							}
							&.active {
								color: #ffffff;
							}
								cursor: pointer;
						
						}
					}
					.list-tab-content-rules {
						-ms-flex: 0 0 60%;
						flex: 0 0 60%;
						max-width: 60%;
						background: #FFFFFF;
						padding: 61px 95px 55px 122px;
						@media (max-width: 1024px) {
							order: 1;
							padding: 20px;
							-ms-flex: 0 0 100%;
							flex: 0 0 100%;
							max-width: 100%;
						}
						.btn-remore {
							margin: unset;
							button {
								background: map-get($color, main-4);
								span {
									color: map-get($color, x-white);
								}
								svg {
									path {
										stroke: map-get($color, x-white);
									}
								}
							}
						}
						.title-lab {
							margin-bottom: 40px;
								font-size: 2rem;
								font-family: Montserrat-Bold;
								color: #0B1F44;
						}
						.main-sub {
							margin-bottom: 35px;
							p {
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 7;
							}
						}

					}
				}
			}
		}
	}
}

#rules-popup {
	max-width: 1088px;
	.list-tab-content-rules {
		max-width: 100%;
		.btn-remore {
			display: none;
		}
		.title-lab {
			box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
			color: #ffffff;
			background: #d7970c;
			padding: 17px 0 20px 138px;
			font-size: 3rem;
			@media (max-width: 1024px) {
				padding: 10px;
			}
			p {
				max-width: 415px;
			}
		}
		.main-sub {
			background: #ffffff;
			padding: 55px 138px 50px 138px;
			@media (max-width: 1024px) {
				padding: 10px;
			}
		}
		
	}
}