.work-shop {
	padding-top: 95px;
	padding-bottom: 135px;
	@media (max-width: 1024px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.container {
		.container-custom {
			.title-work-shop {
				.block-title {
					margin-bottom: 50px;
					@media (max-width: 1024px) {
						margin-bottom: 10px;
					}
					h2 {
						text-align: center;
						font-size: 5rem;
						font-family: MinionPro-Bold;
						color: map-get($color, main-3);
					}
				}
			}
			.list-item-work {
				justify-content: center;
				margin-left: -40px;
				margin-right: -40px;
				@media (max-width: 1440px) {
					margin-left: -10px;
					margin-right: -10px;
				}
				.item {
					padding: 0 40px;
					@media (max-width: 1440px) {
						padding: 0 10px;
					}
				}
				.content-items{
					cursor: pointer;
					.content {
						.text {
							display: none;
						}
						.title {
							height: 111px;
							padding: 20px 15px 15px 25px;
							background: #D7970C;
							box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: .16);
							p {
								font-size: 3rem;
								font-family: Futura-Light;
								color: white;
							}
						}
					}
				}
				@media (max-width: 768px) {
					.content-items {
						padding-bottom: 20px;
						.content {
							.title {
								padding: 5px !important;
							}
						}
					}
				}
				@media (max-width: 575.98px) {
					.content-items {
						max-width: 100%;
					}
				}
			}
		}
	}
}
#work-shop {
	max-width: 1365px;
	.list-ws {
		max-width: 1088px;
		background: white;
		display: flex;
		padding: 65px 65px 65px 135px;
		.img {
			max-width: 50%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.content {
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%;
			padding-left: 78px;
			.title {
				position: relative;
				padding-bottom: 60px;
				padding-top: 30px;
				@media (max-width: 1024px) {
					padding-top: 20px;
					padding-bottom: 20px;
				}
				&::after {
					content: '';
					position: absolute;
					width: 25px;
					height: 1px;
					bottom: 10%;
					left: 0;
					background: #CF910C;
				}
				p {
					font-size: 3rem;
					font-family: MinionPro-Bold;
					color: #D7970C;
				}
			}
			.text {
				p {
					font-size: 2rem;
				}
			}
		}
	}
	@media (max-width: 1024px) {
		.list-ws {
			display: block;
			padding: 20px;
			.img {
				max-width: 100%;
				text-align: center;
				img {
					width: 50%;
				}
			}
			.content {
				max-width: 100%;
				padding-left: 0px;
			}
		}
	}
	@media (max-width: 575px) {
		.list-ws {
			display: block;
			padding: 20px;
			.img {
				max-width: 100%;
				text-align: center;
				img {
					width: 100%;
				}
			}
			.content {
				max-width: 100%;
				padding-left: 0px;
			}
		}
	}
}
.other-desc {
	.other {
		background: #F1F1F1;
		text-align: center;
		padding:100px 0;
		@media (max-width: 1024px) {
			padding: 30px 0 ;
		}
		.title {
			p{
				font-size: 5rem;
				font-family: MinionPro-Bold;
				color: #0B1F44;
			}
		}
		.desc {
			margin-left: auto;
			margin-right: auto;
			max-width: 813px;
			width: 100%;
			p {
				color: #707070;
				font-size: 2rem;
			}
		}
	}
}